html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-user-select:none;
	-webkit-tap-highlight-color:transparent;
	outline:0
}
header, footer, section, article, aside, nav, address, figure, figcaption, menu, details {
	display:block
}
table {
	border-collapse:collapse;
	border-spacing:0
}
caption, th {
	text-align:left;
	font-weight:normal
}
html, body, fieldset, img, iframe, abbr {
	border:0
}
i, cite, em, var, address, dfn {
	font-style:normal
}
[hidefocus], summary {
	outline:0
}
li {
	list-style:none
}
h1, h2, h3, h4, h5, h6, small {
	font-size:100%
}
sup, sub {
	font-size:83%
}
pre, code, kbd, samp {
	font-family:inherit
}
q:before, q:after {
	content:none
}
textarea {
	overflow:auto;
	resize:none
}
label, summary {
	cursor:default
}
a, button {
	cursor:pointer
}
h1, h2, h3, h4, h5, h6, em, strong, b {
	font-weight:bold
}
del, ins, u, s, a, a:hover {
	text-decoration:none
}
html, body {
	width:100%;
	min-width:320px
}
body, textarea, input, button, select, keygen, legend {
	font:16px/1.5"Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontVsoicon, sans-serif;
	color:#333;
	outline:0;
	background:#f4f4f4
}
a, a:hover {
	color:#333;
	text-decoration:none
}
.ptm-inline {
	display:inline-block;
	vertical-align:top
}
.ptm-block {
	display:block!important
}
.ptm-show {
	visibility:visible!important
}
.ptm-hide {
	display:none!important
}
.ptm-radius50 {
	border-radius:50%!important
}
.ptm-clearfix:after {
	content:"020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.ptm-clearfix {
	clear:both;
	zoom:1
}
.ptm-clear {
	clear:both
}
.ptm-text-left {
	text-align:left!important
}
.ptm-text-center {
	text-align:center!important
}
.ptm-text-justify {
	text-align:justify!important
}
.ptm-text-right {
	text-align:right!important
}
.ptm-text-normal {
	font-weight:normal!important
}
.ptm-text-bold {
	font-weight:bold!important
}
.ptm-text-cut {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.ptm-text-cut2 {
	display:-webkit-box;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2
}
.ptm-text-cut3 {
	display:-webkit-box;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3
}
.ptm-line-x {
	width:100%;
	position:relative;
	height:1px
}
.ptm-line-x:after {
	border-bottom:1px solid #c8c7cc;
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none
}
.ptm-row-5 {
	margin-right:-5px;
	margin-left:-5px
}
.ptm-row-10 {
	margin-right:-10px;
	margin-left:-10px
}
.ptm-row-15 {
	margin-right:-15px;
	margin-left:-15px
}
.ptm-row-20 {
	margin-right:-20px;
	margin-left:-20px
}
.ptm-padded-t0 {
	padding-top:0
}
.ptm-padded-b0 {
	padding-bottom:0
}
.ptm-padded-0-5 {
	padding:0 5px
}
.ptm-padded-0-10 {
	padding:0 10px
}
.ptm-padded-0-15 {
	padding:0 15px
}
.ptm-padded-0-20 {
	padding:0 20px
}
.ptm-padded-5 {
	overflow:hidden;
	padding:5px
}
.ptm-padded-10 {
	overflow:hidden;
	padding:10px
}
.ptm-padded-15 {
	overflow:hidden;
	padding:15px
}
.ptm-padded-20 {
	overflow:hidden;
	padding:20px
}
.ptm-text-default {
	color:#666!important
}
.ptm-text-primary {
	color:#1abc9c!important
}
.ptm-text-success {
	color:#2ecc71!important
}
.ptm-text-info {
	color:#3498db!important
}
.ptm-text-warning {
	color:#f82!important
}
.ptm-text-danger {
	color:#e74c3c!important
}
.ptm-text-blue {
	color:#a1d4cf!important
}
.ptm-text-pink {
	color:#fbb8af!important
}
.ptm-bg-default {
	background-color:#f4f4f4!important
}
.ptm-bg-primary {
	background-color:#1abc9c!important
}
.ptm-bg-success {
	background-color:#2ecc71!important
}
.ptm-bg-info {
	background-color:#3498db!important
}
.ptm-bg-warning {
	background-color:#f82!important
}
.ptm-bg-danger {
	background-color:#e74c3c!important
}
.ptm-bg-blue {
	background-color:#a1d4cf!important
}
.ptm-bg-pink {
	background-color:#fbb8af!important
}
.ptm-pull-right {
	float:right!important
}
.ptm-pull-left {
	float:left!important;
}
.ptm-col-xs-1, .ptm-col-xs-2, .ptm-col-xs-3, .ptm-col-xs-4, .ptm-col-xs-5, .ptm-col-xs-6, .ptm-col-xs-7, .ptm-col-xs-8, .ptm-col-xs-9, .ptm-col-xs-10, .ptm-col-xs-11, .ptm-col-5 {
	position:relative;
	float:left
}
.ptm-col-xs-12 {
	width:100%;
	position:relative
}
.ptm-col-xs-11 {
	width:91.66666667%
}
.ptm-col-xs-10 {
	width:83.33333333%
}
.ptm-col-xs-9 {
	width:75%
}
.ptm-col-xs-8 {
	width:66.66666667%
}
.ptm-col-xs-7 {
	width:58.33333333%
}
.ptm-col-xs-6 {
	width:50%
}
.ptm-col-xs-5 {
	width:41.66666667%
}
.ptm-col-xs-4 {
	width:33.33333333%
}
.ptm-col-xs-3 {
	width:25%
}
.ptm-col-xs-2 {
	width:16.66666667%
}
.ptm-col-xs-1 {
	width:8.33333333%
}
.ptm-col-5 {
	width:20%
}
.ptm-content {
	-webkit-overflow-scrolling:touch
}
.ptm-content-title {
	position:relative;
	overflow:hidden;
	margin:0;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size:14px;
	text-transform:uppercase;
	line-height:1;
	color:#6d6d72;
	padding:25px 15px 10px
}
.ptm-content-padded {
	margin:0 10px;
	-webkit-overflow-scrolling:touch;
	margin-bottom:15px
}
.ptm-card {
	margin:0 10px;
	margin-bottom:15px;
	position:relative;
	background:#fff;
	border-radius:6px
}
.ptm-card:after {
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none;
	border:1px solid #c8c7cc;
	border-radius:6px;
	overflow:hidden
}
.ptm-card.ptm-noborder:after {
	border:0;
	overflow:hidden
}
.ptm-card.ptm-noborder .ptm-list-view, .ptm-card.ptm-noborder .ptm-user-view {
	border-radius:6px
}
.ptm-card .ptm-form {
	background:0
}
.ptm-card .ptm-list-view-cell:first-child:after, .ptm-card .ptm-user-view-cell:first-child:after, .ptm-card .ptm-input-row:first-child:after, .ptm-content-padded .ptm-list-view-cell:first-child:after, .ptm-content-padded .ptm-user-view-cell:first-child:after {
	border-top:0
}
.ptm-card .ptm-list-view-cell:last-child:after, .ptm-card .ptm-user-view-cell:last-child:after, .ptm-card .ptm-btn-row:after, .ptm-card .ptm-input-row:last-child:after, .ptm-content-padded .ptm-list-view-cell:last-child:after, .ptm-content-padded .ptm-user-view-cell:last-child:after {
	border-bottom:0
}
.ptm-card .ptm-card-header {
	font-weight:bold;
	height:36px;
	line-height:40px;
	font-size:16px;
	border-bottom:1px solid #eee;
	padding:0 10px
}
.ptm-card .ptm-card-content {
	padding:5px
}
.ptm-card .ptm-card-footer {
	height:40px;
	line-height:40px;
	border-top:1px solid #eee;
	font-size:16px;
	text-align:center
}
.ptm-card .ptm-card-footer a {
	display:block;
	width:100%;
	height:100%
}
.ptm-card .ptm-card-more {
	padding:10px
}
.ptm-card .ptm-card-more .loadmore {
	background:#1abc9c;
	color:#fff;
	-webkit-border-radius:1px;
	border:0;
	display:block;
	font-size:16px;
	height:36px;
	letter-spacing:1px;
	line-height:36px;
	text-align:center
}
.ptm-label {
	display:table-cell;
	padding:.3em .35em .2em .35em;
	font-size:12px;
	line-height:1;
	color:#fff;
	text-align:center;
	white-space:nowrap;
	vertical-align:baseline;
	border-radius:.15em
}
.ptm-label-default {
	background-color:#f4f4f4;
	color:#8f8f94
}
.ptm-label-primary {
	background-color:#1abc9c
}
.ptm-label-success {
	background-color:#2ecc71
}
.ptm-label-info {
	background-color:#3498db
}
.ptm-label-warning {
	background-color:#f82
}
.ptm-label-danger {
	background-color:#e74c3c
}
.ptm-label-blue {
	background-color:#a1d4cf
}
.ptm-label-pink {
	background-color:#fbb8af
}
button, .ptm-btn {
	position:relative;
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	background-color:#ddd;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	border:1px solid #ddd;
	border-radius:4px
}
.ptm-btn:active {
	color:#fff;
	background-color:#bdc3c7
}
.ptm-btn-default {
	color:#fff;
	background-color:#bdc3c7;
	border:1px solid #bdc3c7
}
.ptm-btn-primary {
	color:#fff;
	background-color:#1abc9c;
	border:1px solid #1abc9c
}
.ptm-btn-primary.active, .ptm-btn-primary:active {
	color:#fff;
	background-color:#16a085;
	border:1px solid #16a085
}
.ptm-btn-success {
	color:#fff;
	background-color:#2ecc71;
	border:1px solid #2ecc71
}
.ptm-btn-success.active, .ptm-btn-success:active {
	color:#fff;
	background-color:#27ae60;
	border:1px solid #27ae60
}
.ptm-btn-info {
	color:#fff;
	background-color:#3498db;
	border:1px solid #3498db
}
.ptm-btn-info.active, .ptm-btn-info:active {
	color:#fff;
	background-color:#2980b9;
	border:1px solid #2980b9
}
.ptm-btn-warning {
	color:#fff;
	background-color:#f82;
	border:1px solid #f82
}
.ptm-btn-warning.active, .ptm-btn-warning:active {
	color:#fff;
	background-color:#faa732;
	border:1px solid #faa732
}
.ptm-btn-danger {
	color:#fff;
	background-color:#e74c3c;
	border:1px solid #e74c3c
}
.ptm-btn-danger.active, .ptm-btn-danger:active {
	color:#fff;
	background-color:#c0392b;
	border:1px solid #c0392b
}
.ptm-btn-help {
	margin:0 auto;
	width:95%;
	margin-bottom:10px
}
.ptm-btn-block {
	display:block;
	width:100%;
	padding:15px 0;
	margin-bottom:0;
	font-size:18px
}
.ptm-btn .ptm-iconfont, .ptm-btn-block .ptm-iconfont {
	margin-right:6px
}
.ptm-btn .ptm-badge, .ptm-btn-block .ptm-badge {
	margin-left:6px
}
.ptm-btn-outlined {
	background:transparent
}
.ptm-btn-default.ptm-btn-outlined {
	color:#bdc3c7
}
.ptm-btn-primary.ptm-btn-outlined {
	color:#16a085
}
.ptm-btn-success.ptm-btn-outlined {
	color:#27ae60
}
.ptm-btn-info.ptm-btn-outlined {
	color:#2980b9
}
.ptm-btn-warning.ptm-btn-outlined {
	color:#faa732
}
.ptm-btn-danger.ptm-btn-outlined {
	color:#c0392b
}
.ptm-btn-default.ptm-btn-outlined:active {
	background:#bdc3c7;
	color:#fff
}
.ptm-btn-primary.ptm-btn-outlined:active {
	background:#16a085;
	color:#fff
}
.ptm-btn-success.ptm-btn-outlined:active {
	background:#27ae60;
	color:#fff
}
.ptm-btn-info.ptm-btn-outlined:active {
	background:#2980b9;
	color:#fff
}
.ptm-btn-warning.ptm-btn-outlined:active {
	background:#faa732;
	color:#fff
}
.ptm-btn-danger.ptm-btn-outlined:active {
	background:#c0392b;
	color:#fff
}
textarea {
	width:100%;
	-webkit-appearance:none;
	padding:10px 15px;
	margin-bottom:15px;
	line-height:21px;
	-webkit-user-select:text;
	background-color:#fff;
	border:1px solid rgba(0, 0, 0, .2);
	border-radius:3px;
	outline:0
}
select, input[type="text"], input[type="search"], input[type="password"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"] {
	width:100%;
	-webkit-appearance:none;
	-webkit-user-select:text;
	padding:10px 15px;
	margin-bottom:15px;
	line-height:21px;
	background-color:#fff;
	border:1px solid rgba(0, 0, 0, .2);
	border-radius:3px;
	outline:0
}
.ptm-form {
	position:relative;
	background:#fff
}
.ptm-input-row {
	position:relative;
	display:table;
	width:100%;
	/* padding:6px 0 */
}
.ptm-input-row:after {
	border-bottom:1px solid #c8c7cc;
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none
}
.ptm-input-row:first-child:after {
	border-top:1px solid #c8c7cc;
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none
}
.ptm-input-row:last-child:after {
	border-bottom:1px solid #c8c7cc
}
.ptm-input-row .ptm-input-addon {
	font-size:14px;
	font-weight:400;
	line-height:1;
	color:#333;
	text-align:center;
	display:table-cell;
	width:1%;
	white-space:nowrap;
	vertical-align:middle;
	padding:5px
}
.ptm-input-row .ptm-input {
	font-size:14px;
	margin:0;
	display:table-cell;
	position:relative;
	float:left;
	width:100%;
	border:0;
	border-radius:0
}
.ptm-btn-row {
	position:relative;
	text-align:center;
	padding:15px
}
.ptm-btn-row:after {
	border-bottom:1px solid #c8c7cc;
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none
}
.ptm-radio {
	width:26px;
	height:26px;
	position:relative;
	margin:8px 10px;
	background:#fff;
	border:solid 1px #ddd;
	border-radius:50%;
	display:table;
	float:left;
	-webkit-appearance:none;
	transition:background-color ease .1s
}
.ptm-radio:after {
	pointer-events:none
}
.ptm-radio-name {
	height:26px;
	line-height:26px;
	margin:8px 10px 8px -5px;
	float:left
}
.ptm-radio:checked, .ptm-radio.ptm-checked {
	background-color:#1abc9c;
	border:solid 1px #1abc9c;
	text-align:center
}
.ptm-radio:checked:before, .ptm-radio.ptm-checked:before {
	position:absolute;
	left:5px;
	top:1px;
	font-size:16px;
	display:table;
	font-family:"ptmicon";
	content:"\e645";
	color:#fff
}
.ptm-radio:checked:after, .ptm-radio.ptm-checked:after {
	position:absolute;
	left:5px;
	top:1px;
	font-size:16px;
	display:table;
	font-family:"ptmicon";
	content:"\e645";
	color:#fff;
	pointer-events:none
}
.ptm-radio:disabled, .ptm-radio.ptm-disabled {
	background-color:#d9d9d9;
	border:solid 1px #d9d9d9
}
.ptm-radio:disabled:before, .ptm-radio.ptm-disabled:before {
	position:absolute;
	left:5px;
	top:1px;
	display:table;
	font-family:"ptmicon";
	content:"\e645";
	font-size:16px;
	color:#fff
}
.ptm-radio:disabled:after, .ptm-radio.ptm-disabled:after {
	position:absolute;
	left:5px;
	top:1px;
	display:table;
	font-family:"ptmicon";
	content:"\e645";
	font-size:16px;
	color:#fff
}
.ptm-radio.ptm-radio-info:checked, .ptm-radio.ptm-radio-info.ptm-checked {
	background-color:#3498db;
	border:solid 1px #3498db
}
.ptm-radio.ptm-radio-success:checked, .ptm-radio.ptm-radio-success.ptm-checked {
	background-color:#2ecc71;
	border:solid 1px #2ecc71
}
.ptm-radio.ptm-radio-danger:checked, .ptm-radio.ptm-radio-danger.ptm-checked {
	background-color:#e74c3c;
	border:solid 1px #e74c3c
}
.ptm-radio.ptm-radio-warning:checked, .ptm-radio.ptm-radio-warning.ptm-checked {
	background-color:#f82;
	border:solid 1px #f82
}
.ptm-checkbox {
	width:26px;
	height:26px;
	position:relative;
	margin:8px 15px;
	background:#fff;
	border:solid 1px #ddd;
	border-radius:4px;
	display:table;
	float:left;
	-webkit-appearance:none;
	transition:background-color ease .1s
}
.ptm-checkbox:after {
	pointer-events:none
}
.ptm-checkbox-name {
	height:26px;
	line-height:26px;
	margin:8px 10px 8px -5px;
	float:left
}
.ptm-checkbox:checked, .ptm-checkbox.ptm-checked {
	background-color:#1abc9c;
	border:solid 1px #1abc9c;
	text-align:center
}
.ptm-checkbox:checked:before, .ptm-checkbox.ptm-checked:before {
	position:absolute;
	left:5px;
	top:1px;
	font-size:16px;
	display:inline-block;
	font-family:"ptmicon";
	content:"\e645";
	color:#fff
}
.ptm-checkbox:checked:after, .ptm-checkbox.ptm-checked:after {
	position:absolute;
	left:5px;
	top:1px;
	font-size:16px;
	display:inline-block;
	font-family:"ptmicon";
	content:"\e645";
	color:#fff;
	pointer-events:none
}
.ptm-checkbox:disabled, .ptm-checkbox.ptm-disabled {
	background-color:#d9d9d9;
	border:solid 1px #d9d9d9
}
.ptm-checkbox:disabled:before, .ptm-checkbox.ptm-disabled:before {
	position:absolute;
	left:5px;
	top:1px;
	display:inline-block;
	font-family:"ptmicon";
	content:"\e645";
	font-size:16px;
	color:#fff
}
.ptm-checkbox:disabled:after, .ptm-checkbox.ptm-disabled:after {
	position:absolute;
	left:5px;
	top:1px;
	display:inline-block;
	font-family:"ptmicon";
	content:"\e645";
	font-size:16px;
	color:#fff
}
.ptm-checkbox.ptm-checkbox-info:checked, .ptm-checkbox.ptm-checkbox-info.ptm-checked {
	background-color:#3498db;
	border:solid 1px #3498db
}
.ptm-checkbox.ptm-checkbox-success:checked, .ptm-checkbox.ptm-checkbox-success.ptm-checked {
	background-color:#2ecc71;
	border:solid 1px #2ecc71
}
.ptm-checkbox.ptm-checkbox-danger:checked, .ptm-checkbox.ptm-checkbox-danger.ptm-checked {
	background-color:#e74c3c;
	border:solid 1px #e74c3c
}
.ptm-checkbox.ptm-checkbox-warning:checked, .ptm-checkbox.ptm-checkbox-warning.ptm-checked {
	background-color:#f82;
	border:solid 1px #f82
}
.ptm-content>.ptm-list-view:last-child {
	margin-bottom:15px
}
.ptm-list-view {
	position:relative;
	padding-left:0;
	margin-top:0;
	list-style:none;
	background-color:#fff
}
.ptm-list-view-cell {
	position:relative;
	padding:12px 15px;
	overflow:hidden;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-touch-callout:none
}
.ptm-list-view-cell:after {
	border-bottom:1px solid #c8c7cc;
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none
}
.ptm-list-view-cell:first-child:after {
	border-top:1px solid #c8c7cc;
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none
}
.ptm-list-view-cell:last-child:after {
	border-bottom:1px solid #c8c7cc
}
.ptm-list-view-cell>a {
	position:relative;
	padding:inherit;
	margin:-12px -15px;
	display:block;
	overflow:hidden;
	color:inherit;
	text-overflow:ellipsis;
	white-space:nowrap
}
.ptm-list-view-cell>a:active {
	background:#f4f4f4
}
.ptm-list-view-cell>a.ptm-active {
	background-color:#eee
}
.ptm-list-view-cell>a.ptm-ellipsis-1, .ptm-list-view-cell>a.ptm-ellipsis-2 {
	padding-bottom:-4px;
	padding-right:30px
}
.ptm-list-view-cell p {
	margin-bottom:0
}
.ptm-list-view-cell>.ptm-badge, .ptm-list-view-cell>a>.ptm-badge {
	position:absolute;
	top:50%;
	right:15px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%)
}
.ptm-list-view-cell>a.ptm-arrow-right>.ptm-badge {
	position:absolute;
	top:50%;
	right:30px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%)
}
.ptm-arrow-right:after {
	font-family:'ptmicon';
	font-size:inherit;
	line-height:1;
	color:#bbb;
	text-decoration:none;
	position:absolute;
	top:50%;
	display:inline-block;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	-webkit-font-smoothing:antialiased
}
.ptm-arrow-right:after {
	font-family:"ptmicon"!important;
	right:15px;
	content:'\e6a3'
}
.ptm-user-view {
	position:relative;
	padding-left:0;
	margin-top:0;
	margin-bottom:15px;
	list-style:none;
	background-color:#fff
}
.ptm-user-view-cell {
	position:relative;
	padding:11px 15px;
	overflow:hidden
}
.ptm-user-view-cell:after {
	border-bottom:1px solid #c8c7cc;
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none
}
.ptm-user-view-cell:first-child:after {
	border-top:1px solid #c8c7cc;
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none
}
.ptm-user-view-cell:last-child:after {
	border-bottom:1px solid #c8c7cc
}
.ptm-user-view-cell:active {
	background:#f4f4f4
}
.ptm-user-view-cell>a {
	position:relative;
	padding:inherit;
	margin:-11px -15px;
	display:block;
	overflow:hidden;
	color:inherit;
	text-overflow:ellipsis;
	white-space:nowrap
}
.ptm-user-view-cell>a.ptm-active {
	background-color:#eee
}
.ptm-user-view-cell p {
	margin-top:3px;
	margin-bottom:0;
	font-size:12px
}
.ptm-user-view-cell .ptm-img, .ptm-user-view-cell .ptm-img-body {
	overflow:hidden
}
.ptm-user-view-cell .ptm-img-body span {
	color:#333;
	margin-top:2px;
	font-weight:400;
	font-size:16px;
	width:100%
}
.ptm-user-view-cell .ptm-img-body span>em {
	font-weight:400;
	font-size:12px;
	color:#8f8f94;
	float:right
}
.ptm-user-view-cell .ptm-img-object {
	max-width:48px!important;
	height:48px!important;
	line-height:48px!important;
	border-radius:50%
}
.ptm-user-view-cell .ptm-img-object.ptm-pull-left {
	margin-right:15px
}
.ptm-user-view-cell .ptm-img-object.ptm-pull-right {
	margin-left:0
}
.ptm-user-view-cell .ptm-img-body.ptm-arrow-right:after {
	font-family:'ptmicon';
	font-size:inherit;
	line-height:1;
	color:#bbb;
	text-decoration:none;
	position:absolute;
	top:50%;
	display:table;
	font-size:20px;
	right:15px;
	content:'\e6a3'
}
.ptm-list-view .ptm-img, .ptm-list-view .ptm-img-body {
	overflow:hidden
}
.ptm-list-view .ptm-img-object {
	max-width:60px;
	height:60px;
	line-height:60px
}
.ptm-list-view .ptm-img-object.ptm-pull-left {
	margin-right:15px
}
.ptm-list-view .ptm-img-object.ptm-pull-right {
	margin-left:0
}
.ptm-list-view.ptm-grid-view {
	display:table;
	width:100%;
	padding:0 10px 10px 0;
	font-size:0;
	white-space:normal
}
.ptm-list-view.ptm-grid-view .ptm-list-view-cell {
	display:table-cell;
	padding:10px 0 0 10px;
	text-align:center;
	vertical-align:middle;
	background:0
}
.ptm-list-view.ptm-grid-view .ptm-list-view-cell:after {
	border-bottom:0
}
.ptm-list-view.ptm-grid-view .ptm-list-view-cell .ptm-img-object {
	width:100%;
	max-width:100%;
	height:auto
}
.ptm-list-view.ptm-grid-view .ptm-list-view-cell .ptm-img-body {
	font-size:14px;
	padding:5px 0
}
.ptm-list-view.ptm-grid-view .ptm-list-view-cell>a:active, .ptm-list-view.ptm-grid-view .ptm-list-view-cell:active {
	background:0
}
.ptm-list-view.ptm-grid-view .ptm-list-view-cell .ptm-media-body {
	display:table-cell;
	width:100%;
	height:15px;
	margin-top:8px;
	font-size:15px;
	line-height:15px;
	color:#333;
	text-overflow:ellipsis
}
.ptm-list-view.ptm-grid-view .ptm-list-view-cell:before, .ptm-list-view.ptm-grid-view .ptm-list-view-cell:after {
	border-top:0
}
.ptm-thumb-view {
	overflow:hidden;
	padding:10px 8px 5px 8px
}
.ptm-thumb-view .ptm-list-view-cell {
	display:table-cell;
	padding:0 2px 4px 2px;
	margin-right:0;
	margin-bottom:-4px;
	font-size:17px;
	text-align:center;
	vertical-align:middle;
	background:0
}
.ptm-thumb-view .ptm-list-view-cell .ptm-img-object {
	width:100%;
	max-width:100%;
	height:auto
}
.ptm-thumb-view .ptm-list-view-cell>a {
	margin:0 0 0 -8px
}
.ptm-thumb-view .ptm-list-view-cell>a:active, .ptm-thumb-view .ptm-list-view-cell:active {
	background:0
}
.ptm-thumb-view .ptm-list-view-cell:before, .ptm-thumb-view .ptm-list-view-cell:after {
	border-top:0
}
.ptm-grid-nine {
	overflow:auto;
	background:#fff;
	position:relative
}
.ptm-grid-nine:after {
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none;
	border-top:1px solid #c8c7cc;
	border-right:1px solid #c8c7cc
}
.ptm-grid-nine li {
	float:left;
	position:relative;
	padding:20px 10px
}
.ptm-grid-nine li:after {
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	border-left:1px solid #c8c7cc;
	border-bottom:1px solid #c8c7cc
}
.ptm-grid-nine li:nth-last-of-type(1), .ptm-grid-nine li:nth-last-of-type(4), .ptm-grid-nine li:nth-last-of-type(7) {
	border-right:0
}
.ptm-grid-nine li .ptm-iconfont {
	font-size:26px;
	display:inline-block;
	text-indent:center;
	margin-bottom:5px
}
.ptm-grid-nine li p {
	margin-bottom:0
}
.ptm-grid-nine li:active {
	background:#f4f4f4
}
.ptm-grid-sixteen {
	overflow:auto;
	background:#fff;
	position:relative
}
.ptm-grid-sixteen:after {
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none;
	border-top:1px solid #c8c7cc;
	border-right:1px solid #c8c7cc
}
.ptm-grid-sixteen li {
	float:left;
	position:relative;
	padding:15px 10px
}
.ptm-grid-sixteen li:after {
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	border-left:1px solid #c8c7cc;
	border-bottom:1px solid #c8c7cc
}
.ptm-grid-sixteen li:nth-last-of-type(1), .ptm-grid-sixteen li:nth-last-of-type(5), .ptm-grid-sixteen li:nth-last-of-type(9), .ptm-grid-sixteen li:nth-last-of-type(13) {
	border-right:0
}
.ptm-grid-sixteen li .ptm-iconfont {
	font-size:26px;
	display:inline-block;
	text-indent:center;
	margin-bottom:5px
}
.ptm-grid-sixteen li p {
	margin-bottom:0
}
.ptm-grid-sixteen li:active {
	background:#f4f4f4
}
.ptm-badge {
	display:inline-block;
	padding:3px 6px;
	font-size:12px;
	line-height:1;
	color:#333;
	background-color:#bdc3c7;
	border-radius:100px
}
.ptm-badge-primary {
	color:#fff;
	background-color:#1abc9c
}
.ptm-badge-success {
	color:#fff;
	background-color:#2ecc71
}
.ptm-badge-info {
	color:#fff;
	background-color:#3498db
}
.ptm-badge-warning {
	color:#fff;
	background-color:#f82
}
.ptm-badge-danger {
	color:#fff;
	background-color:#e74c3c
}
.ptm-bar {
	position:relative;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	background-color:#1abc9c;
	color:#fff;
	display:block;
	height:45px;
	line-height:45px;
	font-size:18px;
	text-align:center
}
.ptm-bar.ptm-fix {
	position:fixed
}
.ptm-title {
	position:absolute;
	width:100%;
	margin:0 -10px;
	text-align:center;
	white-space:nowrap
}
.ptm-title a {
	color:inherit
}
.ptm-bar .ptm-title {
	right:80px;
	left:80px;
	width:auto;
	margin:0;
	overflow:hidden;
	text-overflow:ellipsis;
	position:absolute
}
.ptm-bar a {
	color:#fff
}
.ptm-bar-dark {
	background-color:#34495e
}
.ptm-bar-primary {
	background-color:#1abc9c!important
}
.ptm-bar-info {
	background-color:#3498db
}
.ptm-bar-danger {
	background-color:#e74c3c
}
.ptm-bar-success {
	background-color:#2ecc71
}
.ptm-bar-warning {
	background-color:#f82
}
.ptm-bar .ptm-iconfont {
	position:relative;
	z-index:20;
	font-size:20px;
	color:#fff;
	font-weight:400;
	line-height:45px
}
.ptm-bar .ptm-pull-left {
	padding-left:10px;
	font-size:16px;
	font-weight:400
}
.ptm-bar .ptm-pull-right {
	padding-right:10px;
	font-size:16px;
	font-weight:400
}
.ptm-bar .ptm-btn {
	position:relative;
	z-index:20;
	font-size:16px;
	height:45px;
	line-height:45px;
	padding-top:0;
	padding-bottom:0;
	margin:0;
	border-radius:0;
	border:0
}
.ptm-bar .ptm-btn:active {
	background:0;
	border:0
}
.ptm-bar .ptm-btn .ptm-iconfont {
	font-size:22px;
	line-height:45px;
	padding:0;
	margin:0;
	color:#fff
}
.ptm-bar-nav {
	top:0
}
.ptm-nav {
	position:fixed;
	right:0;
	left:0;
	bottom:0;
	z-index:10;
	width:100%;
	height:55px;
	background-color:#fff
}
.ptm-nav .ptm-bar-tab {
	width:100%;
	background-color:#fff;
	display:box;
	display:-webkit-box;
	box-sizing:border-box;
	font-size:12px;
	height:55px
}
.ptm-nav .ptm-bar-tab li {
	position:relative;
	text-align:center;
	color:#666;
	width:100%;
	box-flex:1;
	-webkit-box-flex:1;
	box-sizing:border-box
}
.ptm-nav .ptm-bar-tab p {
	font-size:12px;
	margin-bottom:0
}
.ptm-nav .ptm-bar-tab .ptm-iconfont {
	font-size:22px;
	color:#8f8f94;
	padding-top:5px;
	height:30px;
	line-height:30px;
	display:inline-block
}
.ptm-nav .ptm-bar-tab .active .ptm-iconfont, .ptm-nav .ptm-bar-tab .active p {
	color:#16a085
}
.ptm-nav .ptm-bar-tab .active-dark .ptm-iconfont, .ptm-nav .ptm-bar-tab .active-dark p {
	color:#34495e
}
.ptm-nav .ptm-bar-tab .active-primary .ptm-iconfont, .ptm-nav .ptm-bar-tab .active-primary p {
	color:#1abc9c
}
.ptm-nav .ptm-bar-tab .active-info .ptm-iconfont, .ptm-nav .ptm-bar-tab .active-info p {
	color:#2980b9
}
.ptm-nav .ptm-bar-tab .active-danger .ptm-iconfont, .ptm-nav .ptm-bar-tab .active-danger p {
	color:#c0392b
}
.ptm-nav .ptm-bar-tab .active-success .ptm-iconfont, .ptm-nav .ptm-bar-tab .active-success p {
	color:#27ae60
}
.ptm-nav .ptm-bar-tab .active-warning .ptm-iconfont, .ptm-nav .ptm-bar-tab .active-warning p {
	color:#faa732
}
.ptm-counter-box {
	width:100%;
	padding:5px 0;
	line-height:30px
}
.ptm-counter-list .ptm-checkbox, .ptm-counter-list .ptm-radio {
	margin:0;
	margin-top:16px;
	margin-right:15px
}
.ptm-counter {
	display:table
}
.ptm-counter-minus, .ptm-counter-plus, input.ptm-counter-input {
	display:table-cell;
	height:30px;
	vertical-align:top;
	text-align:center;
	font-size:14px;
	line-height:28px;
	-webkit-appearance:none;
	border-radius:0;
	margin:0
}
.ptm-counter-minus, .ptm-counter-plus {
	width:28px;
	background-color:#fff;
	border:1px solid #e6e4e3;
	color:#1abc9c
}
.ptm-counter.ptm-success .ptm-counter-minus, .ptm-counter.ptm-success .ptm-counter-plus {
	color:#2ecc71
}
.ptm-counter.ptm-info .ptm-counter-minus, .ptm-counter.ptm-info .ptm-counter-plus {
	color:#3498db
}
.ptm-counter.ptm-warning .ptm-counter-minus, .ptm-counter.ptm-warning .ptm-counter-plus {
	color:#f82
}
.ptm-counter.ptm-danger .ptm-counter-minus, .ptm-counter.ptm-danger .ptm-counter-plus {
	color:#e74c3c
}
.ptm-counter-minus.ptm-disabled, .ptm-counter-plus.ptm-disabled {
	background-color:#e7e7e7;
	color:#999!important
}
.ptm-counter-minus:before {
	font-family:"ptmicon";
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-webkit-text-stroke-width:.2px;
	content:"\e768";
	font-size:16px;
	line-height:27px
}
.ptm-counter-plus:before {
	font-family:"ptmicon";
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-webkit-text-stroke-width:.2px;
	content:"\e767";
	font-size:16px;
	line-height:27px
}
input.ptm-counter-input {
	width:35px;
	border-style:solid none;
	border-width:1px;
	border-color:#e6e4e3;
	color:#262626;
	background-color:#fff;
	text-align:center;
	padding:0
}
.ptm-loading {
	width:20px;
	height:20px;
	display:block;
	background:url(../image/loading_sprite.png);
	-webkit-background-size:auto 20px;
	-webkit-animation:am-rotate 1s steps(12) infinite
}
.ptm-switch-title {
	float:left;
	line-height:26px
}
.ptm-switch {
	width:46px;
	height:26px;
	margin:0 10px;
	position:relative;
	border:1px solid #ddd;
	background-color:#fff;
	box-shadow:#dfdfdf 0 0 0 0 inset;
	border-radius:13px;
	background-clip:content-box;
	display:inline-block;
	-webkit-appearance:none;
	user-select:none;
	outline:0;
	transition:border cubic-bezier(0, 0, 0, 1) .2s, box-shadow cubic-bezier(0, 0, 0, 1) .2s
}
.ptm-switch:before {
	width:24px;
	height:24px;
	position:absolute;
	top:0;
	left:0;
	border-radius:13px;
	background-color:#fff;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
	content:'';
	transition:left .2s
}
.ptm-switch:checked {
	border-color:#1abc9c;
	box-shadow:#1abc9c 0 0 0 26px inset;
	background-color:#1abc9c;
	transition:border ease .2s, box-shadow ease .2s, background-color ease .6s
}
.ptm-switch.ptm-switch-info:checked {
	border-color:#3498db;
	box-shadow:#3498db 0 0 0 26px inset;
	background-color:#3498db
}
.ptm-switch.ptm-switch-success:checked {
	border-color:#2ecc71;
	box-shadow:#2ecc71 0 0 0 26px inset;
	background-color:#2ecc71
}
.ptm-switch.ptm-switch-danger:checked {
	border-color:#e74c3c;
	box-shadow:#e74c3c 0 0 0 26px inset;
	background-color:#e74c3c
}
.ptm-switch.ptm-switch-warning:checked {
	border-color:#f82;
	box-shadow:#f82 0 0 0 26px inset;
	background-color:#f82
}
.ptm-switch:checked:before {
	left:20px;
	transition:left .2s
}
.ptm-chat-receiver {
	clear:both
}
.ptm-chat-receiver p {
	font-size:12px
}
.ptm-chat-receiver .ptm-chat-receiver-avatar {
	float:left
}
.ptm-chat-receiver .ptm-chat-receiver-avatar img {
	width:50px;
	height:50px;
	border-radius:50%
}
.ptm-chat-receiver .ptm-chat-receiver-cont {
	background:#fff;
	float:left;
	margin:0 20px 10px 15px;
	padding:10px;
	border-radius:7px;
	max-width:60%;
	position:relative;
	min-height:20px
}
.ptm-chat-receiver-cont .ptm-chat-status {
	color:#666;
	background:#fff;
	position:absolute;
	right:-36px;
	top:6px;
	font-size:12px;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	border-radius:15px
}
.ptm-chat-sender {
	clear:both
}
.ptm-chat-sender p {
	color:#fff;
	font-size:12px
}
.ptm-chat-sender .ptm-chat-sender-avatar {
	float:right
}
.ptm-chat-sender .ptm-chat-sender-avatar img {
	width:50px;
	height:50px;
	border-radius:50%
}
.ptm-chat-sender .ptm-chat-sender-cont {
	float:right;
	background:#15b5e9;
	margin:0 10px 10px 20px;
	padding:10px;
	border-radius:7px;
	color:#fff;
	max-width:60%;
	position:relative;
	min-height:20px
}
.ptm-chat-sender-cont .ptm-chat-status {
	color:#666;
	background:#fff;
	position:absolute;
	left:-36px;
	top:6px;
	font-size:12px;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	border-radius:15px
}
.ptm-chat-left-triangle {
	height:0;
	width:0;
	border-width:8px;
	border-style:solid;
	border-color:transparent #fff transparent transparent;
	position:absolute;
	left:-16px;
	top:6px
}
.ptm-chat-right-triangle {
	height:0;
	width:0;
	border-width:8px;
	border-style:solid;
	border-color:transparent transparent transparent #15b5e9;
	position:absolute;
	right:-16px;
	top:6px
}
.ptm-chat-sender .ptm-chat-sender-cont span, .ptm-chat-receiver .ptm-chat-receiver-cont span {
	word-break:break-all
}
.ptm-chat-img img {
	width:100%
}
.ptm-chat-status i.ptm-chat-progress {
	color:#666;
	-webkit-animation:rotate 1s infinite linear
}
.ptm-tab {
	width:100%;
	overflow:hidden
}
.ptm-tab-nav {
	width:100%;
	display:box;
	display:-webkit-box;
	font-size:16px;
	height:45px;
	box-sizing:border-box;
	overflow:hidden;
	background-color:#fff
}
.ptm-tab-sm .ptm-tab-nav {
	height:35px;
	font-size:14px
}
.ptm-tab-nav li {
	height:45px;
	line-height:45px;
	min-width:60px;
	box-flex:1;
	-webkit-box-flex:1;
	text-align:center;
	color:#666;
	box-sizing:border-box;
	border-bottom:2px solid transparent;
	width:100%
}
.ptm-tab-sm .ptm-tab-nav li {
	height:35px;
	line-height:35px
}
.ptm-tab-nav li.active {
	color:#1abc9c;
	border-bottom:2px #1abc9c solid;
	-webkit-animation:fadeIn .5s ease both;
	animation:fadeIn .5s ease both
}
.ptm-tab-nav.ptm-tab-border {
	background-color:transparent;
	border:1px solid #1abc9c;
	border-radius:3px
}
.ptm-tab-nav.ptm-tab-border li {
	width:1%;
	overflow:hidden;
	line-height:43px;
	color:#1abc9c;
	background-color:#fff;
	border-color:#1abc9c;
	border-left:1px solid #1abc9c
}
.ptm-tab-sm .ptm-tab-nav.ptm-tab-border li {
	line-height:33px
}
.ptm-tab-nav.ptm-tab-border li:first-child {
	border-left:0 solid #1abc9c
}
.ptm-tab-nav.ptm-tab-border li.active {
	background-color:#1abc9c;
	color:#fff;
	-webkit-animation:fadeIn .5s ease both;
	animation:fadeIn .5s ease both
}
.ptm-tab-content-item {
	display:none
}
.ptm-tab-content-item.active {
	display:block
}
.ptm-progress {
	height:20px;
	border-radius:4px;
	overflow:hidden;
	background-color:#f5f5f5
}
.ptm-progress-bar {
	float:left;
	width:0;
	height:100%;
	font-size:12px;
	line-height:20px;
	color:#fff;
	text-align:center;
	background-color:#3498db
}
.ptm-progress.sm, .ptm-progress-sm {
	height:10px
}
.ptm-progress.sm, .ptm-progress-sm, .ptm-progress.sm .ptm-progress-bar, .ptm-progress-sm .ptm-progress-bar {
	border-radius:1px
}
.ptm-progress.xs, .ptm-progress-xs {
	height:7px
}
.ptm-progress.xs, .ptm-progress-xs, .ptm-progress.xs .progress-bar, .ptm-progress-xs .progress-bar {
	border-radius:1px
}
.ptm-progress.xxs, .ptm-progress-xxs {
	height:3px
}
.ptm-progress.xxs, .ptm-progress-xxs, .ptm-progress.xxs .progress-bar, .ptm-progress-xxs .progress-bar {
	border-radius:1px
}
.ptm-progress-primary {
	background-color:#1abc9c
}
.ptm-progress-success {
	background-color:#2ecc71
}
.ptm-progress-info {
	background-color:#3498db
}
.ptm-progress-warning {
	background-color:#f82
}
.ptm-progress-danger {
	background-color:#e74c3c
}
.ptm-timeline {
	position:relative;
	padding:0;
	list-style:none
}
.ptm-timeline:before {
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	width:2px;
	background:#ddd;
	left:32px;
	margin:0;
	border-radius:2px
}
.ptm-timeline>li {
	position:relative;
	margin-bottom:15px
}
.ptm-timeline>li:before, .ptm-timeline>li:after {
	content:" ";
	display:table
}
.ptm-timeline>li:after {
	clear:both
}
.ptm-timeline>li>.ptm-timeline-item {
	margin-top:0;
	background:#fff;
	color:#444;
	margin-left:60px;
	padding:0;
	position:relative
}
.ptm-timeline>li>.ptm-timeline-item:after {
	border-radius:6px;
	border:1px solid #c8c7cc;
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none
}
.ptm-timeline>li>.ptm-timeline-item>.ptm-timeline-time {
	color:#999;
	float:right;
	padding:10px;
	font-size:12px
}
.ptm-timeline>li>.ptm-timeline-item>.ptm-timeline-header {
	margin:0;
	color:#555;
	padding:10px;
	font-size:.875em;
	position:relative
}
.ptm-timeline>li>.ptm-timeline-item>.ptm-timeline-header:after {
	border-bottom:1px solid #ddd;
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(1);
	pointer-events:none
}
.ptm-timeline>li>.ptm-timeline-item>.ptm-timeline-body, .ptm-timeline>li>.ptm-timeline-item>.ptm-timeline-footer {
	padding:10px;
	font-size:.875em
}
.ptm-timeline>li>.ptm-timeline-item>.ptm-timeline-footer {
	background-color:#f4f4f4
}
.ptm-timeline>li.ptm-time-label>span {
	padding:5px;
	display:inline-block;
	background-color:#d2d6de;
	border-radius:4px;
	color:#fff
}
.ptm-timeline>li>.ptm-time-label {
	width:50px;
	height:30px;
	font-size:.75em;
	line-height:30px;
	position:absolute;
	color:#fff;
	background:#d2d6de;
	text-align:center;
	left:8px;
	top:0;
	border-radius:4px
}
.ptm-timeline>li>.ptm-iconfont {
	width:30px;
	height:30px;
	font-size:15px;
	line-height:30px;
	position:absolute;
	color:#fff;
	background:#d2d6de;
	border-radius:50%;
	text-align:center;
	left:18px;
	top:0
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5) {
	.ptm-timeline>li>.ptm-timeline-item:after, .ptm-timeline>li>.ptm-timeline-item>.ptm-timeline-header:after {
		right:-100%;
		bottom:-100%;
		-webkit-transform:scale(0.5)
	}
}
.ptm-range {
	position:relative
}
.ptm-range input[type='range'] {
	width:100%;
	height:4px;
	margin:18px 0;
	border:0;
	border-radius:2px;
	background-color:#c8c7cc;
	position:relative;
	-webkit-appearance:none!important
}
.ptm-range input[type='range']::-webkit-slider-thumb {
	width:28px;
	height:28px;
	border-radius:50%;
	border-color:#1abc9c;
	background-color:#1abc9c;
	-webkit-appearance:none!important
}
.ptm-range input[type='range'].ptm-range-info::-webkit-slider-thumb {
	background-color:#3498db;
	border-color:#3498db
}
.ptm-range input[type='range'].ptm-range-warning::-webkit-slider-thumb {
	background-color:#f82;
	border-color:#f82
}
.ptm-range input[type='range'].ptm-range-danger::-webkit-slider-thumb {
	background-color:#e74c3c;
	border-color:#e74c3c
}
.ptm-range input[type='range'].ptm-range-primary::-webkit-slider-thumb {
	background-color:#1abc9c;
	border-color:#1abc9c
}
.ptm-range .ptm-range-tip {
	font-size:14px;
	padding:5px 0;
	width:48px;
	line-height:1;
	position:absolute;
	z-index:999;
	top:-30px;
	margin:0 auto;
	text-align:center;
	color:#666;
	border:1px solid #ddd;
	border-radius:6px;
	background-color:#fff
}
.ptm-input-row .ptm-range input[type='range'] {
	width:90%;
	margin-left:5%
}
@font-face {
	font-family:"ptmicon";
	src:url('../font/ptm_iconfont.ttf') format('truetype')
}
.ptm-iconfont {
	position:relative;
	font-family:"ptmicon";
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.ptm-icon-appreciate:before {
	content:"\e644"
}
.ptm-icon-check:before {
	content:"\e645"
}
.ptm-icon-close:before {
	content:"\e646"
}
.ptm-icon-edit:before {
	content:"\e649"
}
.ptm-icon-emoji:before {
	content:"\e64a"
}
.ptm-icon-favorfill:before {
	content:"\e64b"
}
.ptm-icon-favor:before {
	content:"\e64c"
}
.ptm-icon-loading:before {
	content:"\e64f"
}
.ptm-icon-locationfill:before {
	content:"\e650"
}
.ptm-icon-location:before {
	content:"\e651"
}
.ptm-icon-phone:before {
	content:"\e652"
}
.ptm-icon-roundcheckfill:before {
	content:"\e656"
}
.ptm-icon-roundcheck:before {
	content:"\e657"
}
.ptm-icon-roundclosefill:before {
	content:"\e658"
}
.ptm-icon-roundclose:before {
	content:"\e659"
}
.ptm-icon-roundrightfill:before {
	content:"\e65a"
}
.ptm-icon-roundright:before {
	content:"\e65b"
}
.ptm-icon-search:before {
	content:"\e65c"
}
.ptm-icon-timefill:before {
	content:"\e65e"
}
.ptm-icon-time:before {
	content:"\e65f"
}
.ptm-icon-taxi:before {
	content:"\e65d"
}
.ptm-icon-unfold:before {
	content:"\e661"
}
.ptm-icon-warnfill:before {
	content:"\e662"
}
.ptm-icon-warn:before {
	content:"\e663"
}
.ptm-icon-camerafill:before {
	content:"\e664"
}
.ptm-icon-camera:before {
	content:"\e665"
}
.ptm-icon-commentfill:before {
	content:"\e666"
}
.ptm-icon-comment:before {
	content:"\e667"
}
.ptm-icon-likefill:before {
	content:"\e668"
}
.ptm-icon-like:before {
	content:"\e669"
}
.ptm-icon-notificationfill:before {
	content:"\e66a"
}
.ptm-icon-notification:before {
	content:"\e66b"
}
.ptm-icon-order:before {
	content:"\e66c"
}
.ptm-icon-samefill:before {
	content:"\e66d"
}
.ptm-icon-same:before {
	content:"\e66e"
}
.ptm-icon-deliver:before {
	content:"\e671"
}
.ptm-icon-evaluate:before {
	content:"\e672"
}
.ptm-icon-pay:before {
	content:"\e673"
}
.ptm-icon-send:before {
	content:"\e675"
}
.ptm-icon-shop:before {
	content:"\e676"
}
.ptm-icon-ticket:before {
	content:"\e677"
}
.ptm-icon-left:before {
	content:"\e679"
}
.ptm-icon-cascades:before {
	content:"\e67c"
}
.ptm-icon-discover:before {
	content:"\e67e"
}
.ptm-icon-list:before {
	content:"\e682"
}
.ptm-icon-more:before {
	content:"\e684"
}
.ptm-icon-myfill:before {
	content:"\e685"
}
.ptm-icon-my:before {
	content:"\e686"
}
.ptm-icon-scan:before {
	content:"\e689"
}
.ptm-icon-settings:before {
	content:"\e68a"
}
.ptm-icon-questionfill:before {
	content:"\e690"
}
.ptm-icon-question:before {
	content:"\e691"
}
.ptm-icon-shopfill:before {
	content:"\e697"
}
.ptm-icon-form:before {
	content:"\e699"
}
.ptm-icon-pic:before {
	content:"\e69b"
}
.ptm-icon-filter:before {
	content:"\e69c"
}
.ptm-icon-footprint:before {
	content:"\e69d"
}
.ptm-icon-top:before {
	content:"\e69e"
}
.ptm-icon-pulldown:before {
	content:"\e69f"
}
.ptm-icon-pullup:before {
	content:"\e6a0"
}
.ptm-icon-right:before {
	content:"\e6a3"
}
.ptm-icon-refresh:before {
	content:"\e6a4"
}
.ptm-icon-moreandroid:before {
	content:"\e6a5"
}
.ptm-icon-deletefill:before {
	content:"\e6a6"
}
.ptm-icon-refund:before {
	content:"\e6ac"
}
.ptm-icon-cart:before {
	content:"\e6af"
}
.ptm-icon-qrcode:before {
	content:"\e6b0"
}
.ptm-icon-remind:before {
	content:"\e6b2"
}
.ptm-icon-delete:before {
	content:"\e6b4"
}
.ptm-icon-profile:before {
	content:"\e6b7"
}
.ptm-icon-home:before {
	content:"\e6b8"
}
.ptm-icon-cartfill:before {
	content:"\e6b9"
}
.ptm-icon-discoverfill:before {
	content:"\e6ba"
}
.ptm-icon-homefill:before {
	content:"\e6bb"
}
.ptm-icon-message:before {
	content:"\e6bc"
}
.ptm-icon-addressbook:before {
	content:"\e6bd"
}
.ptm-icon-link:before {
	content:"\e6bf"
}
.ptm-icon-lock:before {
	content:"\e6c0"
}
.ptm-icon-unlock:before {
	content:"\e6c2"
}
.ptm-icon-vip:before {
	content:"\e6c3"
}
.ptm-icon-activity:before {
	content:"\e6c5"
}
.ptm-icon-friendaddfill:before {
	content:"\e6c9"
}
.ptm-icon-friendadd:before {
	content:"\e6ca"
}
.ptm-icon-friendfamous:before {
	content:"\e6cb"
}
.ptm-icon-friend:before {
	content:"\e6cc"
}
.ptm-icon-goods:before {
	content:"\e6cd"
}
.ptm-icon-selection:before {
	content:"\e6ce"
}
.ptm-icon-explore:before {
	content:"\e6d2"
}
.ptm-icon-present:before {
	content:"\e6d3"
}
.ptm-icon-squarecheckfill:before {
	content:"\e6d4"
}
.ptm-icon-square:before {
	content:"\e6d5"
}
.ptm-icon-squarecheck:before {
	content:"\e6d6"
}
.ptm-icon-round:before {
	content:"\e6d7"
}
.ptm-icon-roundaddfill:before {
	content:"\e6d8"
}
.ptm-icon-roundadd:before {
	content:"\e6d9"
}
.ptm-icon-add:before {
	content:"\e6da"
}
.ptm-icon-notificationforbidfill:before {
	content:"\e6db"
}
.ptm-icon-explorefill:before {
	content:"\e6dd"
}
.ptm-icon-fold:before {
	content:"\e6de"
}
.ptm-icon-game:before {
	content:"\e6df"
}
.ptm-icon-redpacket:before {
	content:"\e6e0"
}
.ptm-icon-selectionfill:before {
	content:"\e6e1"
}
.ptm-icon-similar:before {
	content:"\e6e2"
}
.ptm-icon-appreciatefill:before {
	content:"\e6e3"
}
.ptm-icon-infofill:before {
	content:"\e6e4"
}
.ptm-icon-info:before {
	content:"\e6e5"
}
.ptm-icon-forwardfill:before {
	content:"\e6ea"
}
.ptm-icon-forward:before {
	content:"\e6eb"
}
.ptm-icon-rechargefill:before {
	content:"\e6ec"
}
.ptm-icon-recharge:before {
	content:"\e6ed"
}
.ptm-icon-vipcard:before {
	content:"\e6ee"
}
.ptm-icon-voice:before {
	content:"\e6ef"
}
.ptm-icon-voicefill:before {
	content:"\e6f0"
}
.ptm-icon-friendfavor:before {
	content:"\e6f1"
}
.ptm-icon-wifi:before {
	content:"\e6f2"
}
.ptm-icon-share:before {
	content:"\e6f3"
}
.ptm-icon-wefill:before {
	content:"\e6f4"
}
.ptm-icon-we:before {
	content:"\e6f5"
}
.ptm-icon-lightauto:before {
	content:"\e6f6"
}
.ptm-icon-lightforbid:before {
	content:"\e6f7"
}
.ptm-icon-lightfill:before {
	content:"\e6f8"
}
.ptm-icon-camerarotate:before {
	content:"\e6f9"
}
.ptm-icon-light:before {
	content:"\e6fa"
}
.ptm-icon-barcode:before {
	content:"\e6fb"
}
.ptm-icon-flashlightclose:before {
	content:"\e6fc"
}
.ptm-icon-flashlightopen:before {
	content:"\e6fd"
}
.ptm-icon-searchlist:before {
	content:"\e6fe"
}
.ptm-icon-service:before {
	content:"\e6ff"
}
.ptm-icon-sort:before {
	content:"\e700"
}
.ptm-icon-down:before {
	content:"\e703"
}
.ptm-icon-mobile:before {
	content:"\e704"
}
.ptm-icon-mobilefill:before {
	content:"\e705"
}
.ptm-icon-copy:before {
	content:"\e706"
}
.ptm-icon-countdownfill:before {
	content:"\e707"
}
.ptm-icon-countdown:before {
	content:"\e708"
}
.ptm-icon-noticefill:before {
	content:"\e709"
}
.ptm-icon-notice:before {
	content:"\e70a"
}
.ptm-icon-upstagefill:before {
	content:"\e70e"
}
.ptm-icon-upstage:before {
	content:"\e70f"
}
.ptm-icon-choicenessfill:before {
	content:"\e714"
}
.ptm-icon-choiceness:before {
	content:"\e715"
}
.ptm-icon-clothesfill:before {
	content:"\e716"
}
.ptm-icon-clothes:before {
	content:"\e717"
}
.ptm-icon-creativefill:before {
	content:"\e718"
}
.ptm-icon-creative:before {
	content:"\e719"
}
.ptm-icon-female:before {
	content:"\e71a"
}
.ptm-icon-keyboard:before {
	content:"\e71b"
}
.ptm-icon-male:before {
	content:"\e71c"
}
.ptm-icon-pullleft:before {
	content:"\e71f"
}
.ptm-icon-pullright:before {
	content:"\e720"
}
.ptm-icon-rankfill:before {
	content:"\e721"
}
.ptm-icon-rank:before {
	content:"\e722"
}
.ptm-icon-bad:before {
	content:"\e723"
}
.ptm-icon-cameraadd:before {
	content:"\e724"
}
.ptm-icon-focus:before {
	content:"\e725"
}
.ptm-icon-friendfill:before {
	content:"\e726"
}
.ptm-icon-cameraaddfill:before {
	content:"\e727"
}
.ptm-icon-apps:before {
	content:"\e729"
}
.ptm-icon-paintfill:before {
	content:"\e72a"
}
.ptm-icon-paint:before {
	content:"\e72b"
}
.ptm-icon-picfill:before {
	content:"\e72c"
}
.ptm-icon-refresharrow:before {
	content:"\e72d"
}
.ptm-icon-markfill:before {
	content:"\e730"
}
.ptm-icon-mark:before {
	content:"\e731"
}
.ptm-icon-presentfill:before {
	content:"\e732"
}
.ptm-icon-repeal:before {
	content:"\e733"
}
.ptm-icon-album:before {
	content:"\e734"
}
.ptm-icon-peoplefill:before {
	content:"\e735"
}
.ptm-icon-people:before {
	content:"\e736"
}
.ptm-icon-servicefill:before {
	content:"\e737"
}
.ptm-icon-repair:before {
	content:"\e738"
}
.ptm-icon-file:before {
	content:"\e739"
}
.ptm-icon-repairfill:before {
	content:"\e73a"
}
.ptm-icon-taoxiaopu:before {
	content:"\e73b"
}
.ptm-icon-attentionfill:before {
	content:"\e73c"
}
.ptm-icon-attention:before {
	content:"\e73d"
}
.ptm-icon-commandfill:before {
	content:"\e73e"
}
.ptm-icon-command:before {
	content:"\e73f"
}
.ptm-icon-communityfill:before {
	content:"\e740"
}
.ptm-icon-community:before {
	content:"\e741"
}
.ptm-icon-read:before {
	content:"\e742"
}
.ptm-icon-calendar:before {
	content:"\e74a"
}
.ptm-icon-cut:before {
	content:"\e74b"
}
.ptm-icon-magic:before {
	content:"\e74c"
}
.ptm-icon-backwardfill:before {
	content:"\e74d"
}
.ptm-icon-forwardfill1:before {
	content:"\e74e"
}
.ptm-icon-playfill:before {
	content:"\e74f"
}
.ptm-icon-stop:before {
	content:"\e750"
}
.ptm-icon-tagfill:before {
	content:"\e751"
}
.ptm-icon-tag:before {
	content:"\e752"
}
.ptm-icon-group:before {
	content:"\e753"
}
.ptm-icon-move:before {
	content:"\e754"
}
.ptm-icon-all:before {
	content:"\e755"
}
.ptm-icon-backdelete:before {
	content:"\e756"
}
.ptm-icon-hotfill:before {
	content:"\e757"
}
.ptm-icon-hot:before {
	content:"\e758"
}
.ptm-icon-post:before {
	content:"\e759"
}
.ptm-icon-radiobox:before {
	content:"\e75b"
}
.ptm-icon-rounddown:before {
	content:"\e75c"
}
.ptm-icon-upload:before {
	content:"\e75d"
}
.ptm-icon-videofill:before {
	content:"\e75e"
}
.ptm-icon-video:before {
	content:"\e75f"
}
.ptm-icon-writefill:before {
	content:"\e760"
}
.ptm-icon-write:before {
	content:"\e761"
}
.ptm-icon-radioboxfill:before {
	content:"\e763"
}
.ptm-icon-punch:before {
	content:"\e764"
}
.ptm-icon-shake:before {
	content:"\e765"
}
.ptm-icon-add1:before {
	content:"\e767"
}
.ptm-icon-move1:before {
	content:"\e768"
}
.ptm-icon-safe:before {
	content:"\e769"
}
.ptm-icon-activityfill:before {
	content:"\e775"
}
.ptm-icon-crownfill:before {
	content:"\e776"
}
.ptm-icon-crown:before {
	content:"\e777"
}
.ptm-icon-goodsfill:before {
	content:"\e778"
}
.ptm-icon-messagefill:before {
	content:"\e779"
}
.ptm-icon-profilefill:before {
	content:"\e77a"
}
.ptm-icon-sound:before {
	content:"\e77b"
}
.ptm-icon-sponsorfill:before {
	content:"\e77c"
}
.ptm-icon-weunblock:before {
	content:"\e780"
}
.ptm-icon-weblock:before {
	content:"\e77f"
}
.ptm-icon-upblock:before {
	content:"\e77e"
}
.ptm-icon-sponsor:before {
	content:"\e77d"
}
.ptm-icon-babyfill:before {
	content:"\e710"
}
.ptm-icon-baby:before {
	content:"\e711"
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5) {
	.ptm-line-x:after, .ptm-card:after, .ptm-input-row:first-child:after, .ptm-input-row:after, .ptm-btn-row:after, .ptm-list-view-cell:first-child:after, .ptm-list-view-cell:last-child:after, .ptm-list-view-cell:after, .ptm-user-view-cell:first-child:after, .ptm-user-view-cell:last-child:after, .ptm-user-view-cell:after, .ptm-grid-nine:after, .ptm-grid-nine li:after, .ptm-grid-sixteen:after, .ptm-grid-sixteen li:after, .ptm-waterfall li:after {
		right:-100%;
		bottom:-100%;
		-webkit-transform:scale(0.5)
	}
}
.ptm-alert-shade {
	position:fixed;
	left:0;
	top:0;
	z-index:199;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.7)
}
.ptm-alert-box {
	position:fixed;
	top:40%;
	left:5%;
	z-index:200;
	width:90%;
	padding:15px;
	background-color:#fff;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	border-radius:4px;
	text-align:center;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font:12px"Hiragino Sans GB", "Microsoft YaHei"
}
.ptm-alert-box p {
	margin:0
}
.ptm-alert-title {
	color:#333;
	font-size:16px;
	padding:0
}
.ptm-alert-content {
	color:#999;
	padding:15px 0 30px 0
}
.ptm-alert-btn {
	display:-webkit-box;
	background-color:#fff;
	padding:0 20px
}
.ptm-alert-btn a {
	-webkit-box-flex:1;
	display:block;
	width:0;
	height:44px;
	line-height:44px;
	text-align:center;
	font-size:14px;
	border-radius:4px
}
.ptm-alert-btn a.ptm-alert-btn-ok {
	margin-left:5px;
	background-color:#1abc9c;
	color:#fff
}
.ptm-alert-btn a.ptm-alert-btn-cancel {
	color:#f82;
	margin-right:5px;
	background-color:#eee;
	position:relative
}
.ptm-alert-btn a.PTWin-btn-cancel:before {
	content:"";
	width:200%;
	height:200%;
	position:absolute;
	top:0;
	left:0;
	border:1px solid #e0e0e0;
	-webkit-transform:scale(0.5);
	-webkit-transform-origin:0 0;
	padding:1px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-radius:8px
}
.ptm-toast-area, .ptm-loading-area {
	position:fixed;
	z-index:3;
	top:180px;
	left:50%;
	background:rgba(40, 40, 40, 0.75);
	text-align:center;
	border-radius:5px;
	color:#fff;
	font-size:14px;
	-webkit-transform:translateX(-50%)
}
.ptm-toast-content {
	margin:10px 25px
}
.ptm-loading-content {
	margin:15px 30px 20px;
	font-size:16px;
	text-align:center
}
.ptm-loading-anim {
	width:37px;
	height:37px;
	display:block;
	background-image:url(../image/loading_sprite_white.png);
	-webkit-background-size:auto 37px;
	-webkit-animation:am-rotate2 1s steps(12) infinite;
	margin:0 auto 5px
}
.ptm-actionsheet-mask {
	display:none;
	position:fixed;
	z-index:10;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0, 0, 0, 0);
	-webkit-transition:background .3s;
	transition:background .3s
}
.ptm-actionsheet-mask-toggle {
	background:rgba(0, 0, 0, 0.6)
}
.ptm-actionsheet {
	position:fixed;
	left:0;
	bottom:0;
	-webkit-transform:translate(0, 100%);
	transform:translate(0, 100%);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	z-index:30;
	width:100%;
	background-color:#efeff4;
	-webkit-transition:-webkit-transform .3s;
	transition:transform .3s
}
.ptm-actionsheet-menu {
	background-color:#fff
}
.ptm-actionsheet-action {
	margin-top:6px;
	background-color:#fff
}
.ptm-actionsheet-item {
	position:relative;
	padding:10px 0;
	text-align:center;
	font-size:14px
}
.ptm-actionsheet-item:before {
	content:" ";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:1px;
	border-top:1px solid #d9d9d9;
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
	-webkit-transform:scaleY(0.5);
	transform:scaleY(0.5)
}
.ptm-actionsheet-item:active {
	background-color:#ececec
}
.ptm-actionsheet-item:first-child:before {
	display:none
}
.ptm-actionsheet-toggle {
	-webkit-transform:translate(0, 0);
	transform:translate(0, 0)
}
.ptm-reddot, .ptm-reddot-s {
	position:relative;
	display:inline-block;
	line-height:22px;
	padding:0 6px
}
.ptm-reddot:after, .ptm-reddot-s:after {
	content:'';
	position:absolute;
	display:block;
	width:8px;
	height:8px;
	background-color:#f74c31;
	border-radius:5px;
	right:-3px;
	top:-3px;
	-webkit-background-clip:padding-box;
	background-clip:padding-box
}
.ptm-reddot-s:after {
	width:6px;
	height:6px;
	top:-5px;
	right:-5px
}
.ptm-line-text {
	height:44px;
	line-height:44px;
	text-align:center;
	font-size:14px;
	color:#666;
	width:100%;
	background-repeat:repeat-x;
	background-size:100% 1px;
	background-position:left center;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #c8c7cc))
}
.ptm-line-text span {
	padding:0 25px
}
@-webkit-keyframes am-rotate {
	from {
		background-position:0 0
	}
	to {
		background-position:-240px 0
	}
}
@-webkit-keyframes am-rotate2 {
	from {
		background-position:0 0
	}
	to {
		background-position:-444px 0
	}
}
@-webkit-keyframes rotate {
	0% {
		-webkit-transform:rotate(0deg)
	}
	100% {
		-webkit-transform:rotate(360deg)
	}
}
@-webkit-keyframes bounce {
	0%, 100% {
		-webkit-transform:scale(0.0)
	}
	50% {
		-webkit-transform:scale(1.0)
	}
}
@-webkit-keyframes fadeIn {
	from {
		opacity:.3
	}
}