@charset"utf-8";
 html, body {
}
html, body, div, section, article, nav, menu, time, footer, header, input, p, a, img, span, em, ol, li, ul, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0
}
ol, ul, li {
	list-style-type:none;
}
a {
	text-decoration:none;
	color:#000;
}
body {
	font-family:Tahoma, Microsoft YaHei, Verdana, Arial, Helvetica, sans-serif;
	background-color:#f4f4f4;
	position:relative;
}
.chapter li {
	border-bottom:1px dotted #d1d1d1;
	padding-bottom:6px;
	padding-top:6px;
}
.chapter li:last-child {
	border-bottom:none;
	padding-bottom:6px;
	padding-top:6px;
}
.ui-landscape {
	display:none;
}
.js-hidden {
	display:none;
}
.s_list {
	padding:0px 10px;
	border-bottom:1px dashed #D4D4D4;
}
.s_list:last-child {
	padding:0px 10px;
	border-bottom:none;
}
.s_list a {
	padding-bottom:0px;
	line-height:35px;
	color:#333333;
}
.pt-name {
	font-size:15px;
	padding-top:5px;
}
.pt-author {
	font-size:14px;
	color:#999;
	padding-bottom:0px;
	padding-bottom:5px;
}
.history {
	display:block;
	font-size:14px;
}
.footer {
	padding:0 10px 20px;
	margin-top:10px;
	text-align:center
}
.footer p {
	font-size:12px;
	color:#aaa;
	line-height:2em
}
.footer a {
	font-size:14px;
	display:inline-block;
	color:#666;
	padding:0 10px
}
.ui-container {
	position:relative;
	margin:0 auto;
}
.ui-mod-picsummary .ui-title, .ui-mod-picsummary2 .ui-title.ui-video-list li h3, .ui-mod-lists li a, .ui-waterfall .ui-picture-title {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.ui-header-bar, .ui-bottom-bar {
	height:40px;
	background-color:rgba(25, 127, 207, 1);
	position:relative;
	border-bottom:1px solid rgba(4, 67, 119, 0.7);
	-webkit-box-shadow:inset 0 -3px 5px rgba(70, 70, 70, 0.2);
}
.ui-header-bar:after {
	content:"";
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	width:100%;
	height:20%;
}
.ui-menu-trigger, .ui-gohomepage, .ui-gocatalogpage, .ui-goback {
	position:absolute;
	width:26px;
	height:21px;
	background-size:cover;
	top:10px;
	left:10px;
}
.ui-bottom-bar .ui-menu-trigger {
	left:auto;
	right:5px;
	top:13px;
}
.ui-logo {
	-webkit-background-size:100px 24px;
	width:100px;
	height:24px;
	position:absolute;
	top:0;
	left:30px;
}
.ui-search-trigger, .ui-gotocomment {
	position:absolute;
	right:10px;
	top:10px;
	-webkit-background-size:cover;
	background-size:cover;
	width:22px;
	height:20px;
}
.ui-menus {
	border-bottom:1px solid #c3c3c3;
	background:-webkit-gradient(linear, center top, center bottom, from(#fff), to(#e6e6e6));
}
.ui-menus-links {
	display:-webkit-box;
}
.ui-menus-links li {
	-webkit-box-flex:1;
	width:1%;
	height:40px;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	border-left:1px solid #c3c3c3;
}
.ui-menus-links li:nth-child(1) {
	border-left:none;
}
.ui-menus-links li:last-child {
	border-right:none;
}
.ui-menus-links li > a {
	background-repeat:no-repeat;
	background-position:22px 14px;
	-webkit-background-size:22px 14px;
	background-size:20px 16px;
	display:inline-block;
	height:34px;
	padding-left:48px;
	padding-top:12px;
	color:#333;
	-webkit-box-sizing:border-box;
}
.ui-articles-container {
	background-color:#f4f4f4;
	overflow:hidden;
	padding-bottom:10px;
}
.ui-mod-picsummary, .ui-mod-picsummary2 {
	-webkit-box-sizing:border-box;
	position:relative;
	overflow:hidden;
	padding-bottom:10px;
}
.ui-border-bottom-gray {
}
.ui-mod-picsummary .ui-pic, .ui-mod-picsummary2 .ui-pic {
	width:100px;
	margin-right:8px;
}
.ui-mod-picsummary .ui-pic, .ui-mod-picsummary2 .ui-pic {
	float:left;
}
.ui-mod-picsummary .ui-summary, .ui-mod-picsummary2 .ui-summary {
	font-size:14px;
	min-height:5px;
	line-height:1.5;
}
.ui-mod-picsummary .ui-title, .ui-mod-picsummary2 .ui-title {
	padding:15px 0;
}
.ui-mod-picsummary .ui-comment-count, .ui-mod-picsummary2 .ui-comment-count {
	font-size:12px;
	text-align:right;
}
.ui-mod-lists li {
	line-height:2.5;
}
.ui-mod-lists li:last-child {
	border-bottom:1px solid #fff;
}
.ui-mod-lists li a {
	font-size:16px;
	display:block;
	border-bottom:1px solid #dddddd;
	border-top:1px solid #fff;
	padding-left:10px;
	-webkit-box-sizing:border-box;
}
.ui-cate-list {
	border-top:1px solid #ddd;
}
.ui-more, .ui-vote-form .ui-voteitem {
	background:-webkit-gradient(linear, center top, center bottom, from(#fff), to(#e6e6e6));
	height:30px;
	width:180px;
	left:50%;
	line-height:30px;
	border-radius:10px;
	display:block;
	text-align:center;
	margin:10px 0 10px 0;
	margin-left:-90px;
	border:1px solid #bbb;
	position:relative;
}
.ui-more:after {
	content:"";
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	width:171px;
	margin-left:5px;
	height:1px;
	-webkit-box-shadow:inset 0 -1px 1px rgba(255, 255, 255, 0.3);
	box-shadow:inset 0 -1px 1px rgba(255, 255, 255, 0.3);
	border-radius:10px;
}
.ui-section-block .ui-catgory {
	height:40px;
	line-height:40px;
	background-color:#197fcf;
	position:relative;
}
.ui-section-block .ui-category-title {
	color:#fff;
	font-size:20px;
	margin-left:10px;
	display:inline-block;
}
.ui-category-list li h3 {
	height:auto!important;
}
.ui-gotop {
	display:inline-block;
	width:25px;
	height:25px;
	-webkit-background-size:cover;
	background-size:cover;
	position:absolute;
	right:10px;
	top:8px;
}
.ui-cateandsearch {
	background-color:#4d4d4d;
}
.ui-search {
	position:relative;
}
.ui-search:before {
	content:'';
	position:absolute;
	right:10px;
	top:-20px;
	width:0;
	height:0;
	border:10px solid;
	border-color:transparent transparent #4d4d4d transparent;
	z-index:2;
}
.ui-search .ui-keyword {
	display:inline-block;
	width:94%;
	-webkit-box-sizing:border-box;
	margin:20px 3%;
	height:40px;
	border-radius:20px;
	padding-left:10px;
	font-size:14px;
	padding-top:3px;
}
.ui-search input[type="submit"] {
	-webkit-background-size:cover;
	background-size:cover;
	width:25px;
	height:25px;
	border:none;
	position:absolute;
	right:6%;
	top:28px;
}
.ui-search label[data-label="ui-keyword"] {
	color:#ccc;
	position:absolute;
	top:31px;
	left:6%;
}
.ui-search-list li h3 {
	height:auto!important;
}
.ui-categorys {
	background-color:#4d4d4d;
	position:relative;
}
.ui-categorys:before {
	content:"";
	position:absolute;
	left:12px;
	top:-19px;
	width:0;
	height:0;
	border:10px solid;
	border-color:transparent transparent #4d4d4d transparent;
}
.js-categorys-bottom:before {
	border-width:0;
}
.js-categorys-bottom:after {
	content:"";
	position:absolute;
	right:8px;
	bottom:-19px;
	z-index:1;
	width:0;
	height:0;
	border:10px solid transparent;
	border-color:#4d4d4d transparent transparent transparent;
}
.ui-categorys ul {
	overflow:hidden;
	position:relative;
}
.ui-categorys ul:after {
	content:"";
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	width:100%;
	height:3px;
	background-color:#4d4d4d;
}
.ui-categorys li {
	-webkit-box-sizing:border-box;
	float:left;
	width:50%;
	border-bottom:1px solid #666;
	position:relative;
	line-height:2;
	background-position:14px 10px;
	background-size:14px 14px;
	background-repeat:no-repeat;
}
.ui-categorys li:after {
	content:"";
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-box-shadow:inset 0 -1px 1px #333;
	box-shadow:inset 0 -1px 1px #333;
}
.ui-categorys a {
	padding-left:36px;
}
.ui-bottom-bar {
	position:relative;
	padding-top:8px;
	height:33px;
}
.ui-categorys a {
	color:#fff;
	font-size:16px;
}
.js-category-bottom-container {
	position:absolute;
	width:100%;
	left:0;
	bottom:46px;
	z-index:100;
}
.ui-bottom-bar a, .ui-bottom-bar {
	color:#fff;
}
.ui-bottom-bar a {
	line-height:2;
	margin-left:10px;
}
.ui-bottom-bar a:nth-child(1) {
	margin-right:0px;
}
.ui-bottom-bar > p {
	font-size:16px;
	line-height:180%;
	-webkit-text-size-adjust:none;
}
.ui-gohomepage .ui-gocatalogpage {
	background-size:cover;
	top:8px;
}
.ui-pagetitle {
	text-align:center;
	line-height:40px;
	color:#fff;
	font-size:20px;
	font-weight:bold;
}
.ui-article-container {
	padding:0 14px;
	background-color:#f4f4f4;
}
.ui-article-title {
	font-size:20px;
	color:#000;
	line-height:30px;
	padding:10px 0 5px 0;
	text-align:left;
	font-weight:bold;
}
.ui-article-infos {
	padding-bottom:10px;
	font-size:12px;
	color:#666;
}
.ui-article-infos>a {
	color:#666;
	margin-left:6px;
}
.ui-article-infos h6 {
	font-weight: normal;
}
.ui-article-detail p {
	line-height:1.8;
	padding-bottom:10px;
	text-indent:0em;
	text-align:justify;
	color:#333;
}
.ui-article-detail p img {
	margin-left:-2em;
}
.ui-article-detail img {
	max-width:100%;
}
.ui-addon-video .video-content-items {
	text-align:center;
}
.ui-article-detail .video-content-items.ui-relread {
	background-color:#f4f4f4;
	border-top:1px solid #ddd;
}
.ui-relread-header, .ui-hotcomment-header, .ui-special-header, .ui-activity-bar {
	line-height:36px;
	background:-webkit-gradient(linear, center top, center bottom, from(#fff), to(#e6e6e6));
}
.ui-relread-header>h2, .ui-hotcomment-header>h2 {
	font-size:16px;
	-webkit-background-size:18px 18px;
	background-size:18px 18px;
	padding-left:34px;
}
.ui-ad {
	text-align:center;
	margin:0 auto 10px;
}
.ui-hotcomment {
	background-color:#f4f4f4;
}
.ui-hotcomment-header {
	border-top:none;
	position:relative;
}
.ui-hotcomment-header>a {
	position:absolute;
	right:10px;
	top:2px;
	font-size:14px;
}
.ui-comment-container {
	background-color:#f4f4f4;
}
.ui-comment-infos {
	position:relative;
	height:36px;
}
.ui-comment-infos>.ui-name, .ui-comment-infos>.ui-timer {
	position:absolute;
	top:6px;
	color:#777;
	font-size:14px;
}
.ui-comment-infos>.ui-timer {
	right:0;
}
.ui-comment-detail {
	line-height:1.6;
	text-indent:2em;
	text-align:justify;
	color:#333;
}
.ui-comment-container li {
	padding:10px 10px;
	border-bottom:1px solid #fff;
	position:relative;
}
.ui-comment-container li:before {
	content:'';
	position:absolute;
	width:100%;
	height:1px;
	background-color:#ddd;
	left:0;
	bottom:0;
}
.ui-comment-detail .citation {
	display:none;
}
.ui-addon-gallery .addon-gallery {
	position:relative;
	margin-bottom:10px;
}
.ui-gallery-mark {
	background-color:rgba(179, 33, 33, 1);
	width:60px;
	height:26px;
	line-height:26px;
	text-align:center;
	color:#fff;
	position:absolute;
	bottom:5px;
	left:0;
}
.gallery-photo-items {
	text-align:center;
}
.addon-video {
	position:relative;
	margin-bottom:10px;
}
.ui-video-link {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-30px;
	margin-top:-30px;
	width:60px;
	height:60px;
	-webkit-background-size:cover;
	background-size:cover;
}
.ui-video-list {
	background-color:#f4f4f4;
	padding-bottom:2px;
}
.ui-video-list li {
	overflow:hidden;
	position:relative;
	border-bottom:1px solid #fff;
	padding:10px;
}
.ui-video-list li:before {
	content:'';
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	height:1px;
	background-color:#ddd;
}
.ui-video-list li h3 {
	font-size:14px;
	color:#333;
	margin-bottom:6px;
	height:auto;
	-webkit-box-sizing:border-box;
}
.ui-video-list li p {
	font-size:12px;
	color:#808080;
	line-height:1.6;
	height:40px;
	overflow:hidden;
}
.ui-video-list .ui-video-thumb {
	float:right;
	position:relative;
	margin-left:6px;
	overflow:hidden;
}
.ui-video-list .ui-video-thumb>span {
	font-size:12px;
	position:absolute;
	background-color:rgba(0, 0, 0, 0.7);
	color:#fff;
	width:100%;
	height:20px;
	bottom:0;
	left:0;
	line-height:20px;
	padding-left:4px;
}
.ui-video-list .ui-video-thumb>img {
	max-width:80px;
}
@media screen and (width:320px) {
	.ui-special-banner {
		width:320px;
		height:70px;
		overflow:hidden;
	}
}
.ui-special-banner>img {
	max-width:100%;
}
.ui-special-header, .ui-activity-bar {
	position:relative;
	border-bottom:1px solid #ddd;
}
.ui-special-header:before, .ui-activity-bar:before {
	content:'';
	position:absolute;
	width:100%;
	height:1px;
	background-color:#fff;
	left:0;
	bottom:0;
}
.ui-special-header>h2, .ui-activity-bar>h2 {
	font-size:16px;
	position:relative;
	padding-left:16px;
}
.ui-special-header>h2:before, .ui-activity-bar>h2:before {
	content:'';
	position:absolute;
	left:7px;
	top:8px;
	width:4px;
	height:18px;
	background-color:#737373;
}
.ui-special-list li h3 {
	height:auto;
}
.js-category-slider, .js-index-slider {
	height:157px;
	overflow:hidden;
	background:-webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:14px 14px;
	background:-webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:14px 14px;
}
.js-category-slider .ui-swipeslide-slide, .js-index-slider .ui-swipeslide-slide {
	position:relative;
}
.js-category-slider .ui-swipeslide-bullets, .js-index-slider .ui-swipeslide-bullets {
	position:absolute;
	bottom:0;
	right:0;
}
.js-category-slider .ui-swipeslide-reel, .js-index-slider .ui-swipeslide-reel {
}
.js-category-slider .ui-swipeslide-slide a, .js-index-slider .ui-swipeslide-slide a {
	display:block;
}
.js-category-slider .ui-swipeslide-slide p, .js-index-slider .ui-swipeslide-slide p {
}
.js-category-slider .ui-swipeslide-slide p span, .js-index-slider .ui-swipeslide-slide p span {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	display:block;
}
.js-category-slider .ui-swipeslide-slide img, .js-index-slider .ui-swipeslide-slide img {
	width:auto;
	max-width:100%;
}
.js-category-slider>.ui-swipeslide-bullets>li, .js-index-slider>.ui-swipeslide-bullets>li {
	background-color:#fff;
	margin:0 5px 2px 5px;
}
.js-category-slider>.ui-swipeslide-bullets>li.active, .js-index-slider>.ui-swipeslide-bullets>li.active {
	background-color:#03befb;
	border-width:0;
}
.ui-picture-show-container {
	background:-webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:14px 14px;
	background:-webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:14px 14px;
}
.ui-picture-show .ui-swipeslide-slide {
	text-align:center;
}
.ui-picture-show .ui-picture-single {
	vertical-align:middle;
	max-width:100%;
	width:auto;
	text-align:center;
	display:inline-block;
	max-height:100%;
	visibility:hidden;
}
.ui-picture-show .ui-picture-infos {
	display:none;
}
.ui-picture-show .ui-picture-extra-info {
	position:absolute;
	bottom:0;
	-webkit-box-sizing:border-box;
	width:100%;
	padding:8px 5px;
	text-align:left;
	background-color:rgba(0, 0, 0, .3);
	color:#fff;
	font-size:12px;
}
.ui-picture-show .ui-picture-extra-info .ui-single-summary {
	line-height:1.5;
	height:56px;
	overflow:auto;
	color:rgba(255, 255, 255, .7);
}
.ui-picture-show .ui-picture-extra-info .ui-picture-title {
	margin-bottom:5px;
}
.ui-picture-show .ui-picture-page {
	position:absolute;
	color:#fff;
	background-color:rgba(0, 0, 0, 1);
	right:5px;
	bottom:70px;
	border-radius:30px;
	font-size:12px;
	padding:2px 6px;
}
.ui-picture-show .ui-picture-page span:first-child {
	margin-right:2px;
	font-weight:bold;
}
.ui-picture-show .ui-picture-page span:last-child {
	margin-left:2px;
}
.ui-comment-post-btn {
	width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	position:absolute;
	right:5px;
	top:4px;
	color:#fff;
	background:-webkit-gradient(linear, center top, center bottom, from(#109ce5), to(#0068b8));
	border-radius:5px;
	border:1px solid #084d85;
	font-size:14px;
}
.ui-comment-post-btn:before {
	content:"";
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	width:58px;
	height:28px;
	border:1px solid #3ca3df;
	border-radius:5px;
}
.ui-goback {
	top:8px;
	width:24px;
	height:24px;
	-webkit-background-size:cover;
	background-size:cover;
}
.ui-carbonfibre {
	background:-webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:14px 14px;
	background:-webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:14px 14px;
}
.ui-login {
	color:#fff;
}
.ui-login .ui-form-warn {
	line-height:3;
	padding-left:10px;
	font-weight:bold;
	text-align:center;
	font-size:18px;
}
.ui-login-form>div {
	position:relative;
	padding-top:5px;
	padding-bottom:2px;
	margin:auto 10px;
}
.ui-login-form>div>label {
	position:absolute;
	color:#999;
	padding-top:8px;
	padding-left:10px;
}
.ui-login-form>div>input[type="text"], .ui-login-form>div>input[type="password"] {
	border-radius:20px;
	padding-top:3px;
	line-height:1.8;
	height:40px;
	display:block;
	width:100%;
	padding-left:10px;
	-webkit-box-sizing:border-box;
	font-size:14px;
}
.ui-login-form>div>input[type="submit"], .ui-survey-form .ui-survey-item input[type="submit"], .ui-vote-form .ui-vote-item input[type="submit"] {
	width:100%;
	background:-webkit-gradient(linear, center top, center bottom, from(#feb200), to(#e96e0a));
	height:40px;
	border-radius:20px;
	margin-bottom:20px;
	font-weight:bold;
	font-size:18px;
	color:#fff;
	letter-spacing:5px;
	position:relative;
	box-shadow:inset -1px -1px 3px #fec42c, inset 1px 1px 3px #fec42c;
}
.ui-login-form>div>textarea {
	width:100%;
	padding:5px;
	-webkit-box-sizing:border-box;
	font-size:16px;
	border-radius:20px;
}
.ui-login-form .ui-validate-info {
	line-height:2;
	padding-left:10px;
	color:#ff0;
}
.ui-activity-banner {
	background-color:#f4f4f4;
}
.ui-activity-banner>img {
	max-width:100%;
}
.ui-activity-signup {
	background-color:#f4f4f4;
	padding:15px 0 10px 0;
}
.ui-activity-signup .ui-signup-container {
	position:relative;
	display:block;
	height:80px;
	margin:0 auto;
	width:70%;
	background:-webkit-gradient(linear, center top, center bottom, from(#ffb300), to(#f66a04));
	border-radius:10px;
	border:1px solid #f66a04;
	box-shadow:inset -1px -1px 3px #fec42c, inset 1px 1px 3px #fec42c;
}
.ui-activity-signup .ui-signup-container div:first-child {
	font-size:30px;
	position:absolute;
	top:10px;
	left:15px;
	font-weight:bold;
	color:#a33c18;
}
.ui-activity-signup .ui-signup-container div:nth-child(2) {
	position:absolute;
	top:50px;
	left:17px;
	color:rgba(255, 255, 255, .8);
}
.ui-activity-signup .ui-signup-container div:nth-child(2)>em {
	font-size:20px;
	font-style:normal;
	padding:0 4px;
	font-weight:bold;
	color:#fff;
}
.ui-activity-signup .ui-signup-container div:last-child {
	position:absolute;
	top:16px;
	right:14px;
	-webkit-background-size:cover;
	background-size:cover;
	width:50px;
	height:50px;
}
.ui-activity-signup .ui-signup-container~p {
	text-align:center;
	padding:15px 0 4px 0;
	color:#444;
}
.ui-activity-bar {
	border-top:1px solid #ddd;
	position:relative;
}
.ui-activity-bar img {
	width:24px;
	height:24px;
	position:absolute;
	right:8px;
	top:5px;
	box-shadow:1px 1px 3px #feb50a, -1px -1px 3px #feb50a;
	border-radius:4px;
}
.ui-activity-intro {
	line-height:1.6;
	padding:0 10px
}
.ui-activity-intro>p {
	padding:8px 0;
	font-size:14px;
	color:#444;
}
.ui-activity-signup-container {
	background-color:#f4f4f4;
}
.ui-signup-form .ui-validate-info {
	color:#f00;
}
.ui-signup-form>div>input, .ui-signup-form>div>textarea {
	border-color:#b3b3b3;
}
.ui-signup-form .ui-field-name {
	float:left;
	margin-right:8px;
}
.ui-signup-form .ui-field-name~div {
	padding-bottom:10px;
}
.ui-signup-form .ui-field-name~div>select {
	height:26px;
	min-width:50px;
}
.ui-signup-form input[type="checkbox"] {
	margin-right:4px;
}
.ui-signup-form input[type="checkbox"]~span {
	padding-right:4px;
}
.ui-activity-signup-container .ui-activity-title, .ui-activity-signup-container>p {
	padding:0 20px;
}
.ui-activity-signup-container .ui-activity-title {
	padding:10px 10px 8px 15px;
	color:#333;
}
.ui-activity-title {
	font-size:22px;
	margin-bottom:10px;
	margin-top:5px;
}
.ui-activity-signup-container>p, .ui-survey-container>div:first-child>p {
	font-size:12px;
	margin-bottom:10px;
}
.ui-activity-signup-container>p>span, .ui-survey-container div:first-child p>span {
	float:right;
}
.ui-activity-signup-container>p>span>em, .ui-survey-container>div:first-child>p em {
	font-style:normal;
	color:#c00;
}
.ui-survey-container {
	background-color:#f4f4f4;
	overflow:hidden;
}
.ui-survey-container>div:first-child {
	margin:0 20px;
	padding:10px 0;
	position:relative;
}
.ui-survey-container div:first-child p {
	margin-top:5px;
}
.ui-survey-summary {
	background-color:#fff;
	border:1px solid #ddd;
	margin:20px;
	padding:10px;
	font-size:14px;
	line-height:1.6;
	text-indent:1em;
	margin-top:0;
}
.ui-survey-form {
	margin:0 20px 0 20px;
}
.ui-survey-form .ui-survey-item {
	margin-bottom:20px;
	font-size:14px;
}
.ui-survey-form .ui-survey-item:last-child {
	margin-bottom:0;
}
.ui-survey-form .ui-survey-item>div {
	padding:4px 4px;
}
.ui-survey-form label {
	margin-left:4px;
}
.ui-survey-form input[type="text"], .ui-survey-form textarea {
	padding-top:6px;
	line-height:1.6;
	width:100%;
	border-radius:10px;
	-webkit-box-sizing:border-box;
	padding-left:5px;
}
.ui-survey-form .ui-survey-item>p {
	line-height:1.8;
}
.ui-survey-limit {
	text-align:right;
}
.ui-survey-form .ui-survey-item input[type="submit"] {
}
.ui-survey-form .ui-survey-item select {
	height:26px;
	min-width:50px;
	font-size:16px;
}
.ui-vote-form {
	margin:0 20px;
	padding:10px 0;
}
.ui-vote-form .ui-voteitem {
	text-align:left;
	padding-left:10px;
	width:100%;
	margin-left:0;
	left:0;
	-webkit-box-sizing:border-box;
	font-size:14px;
	margin-bottom:20px;
}
.ui-vote-form .ui-voteok {
	position:relative;
}
.ui-vote-form .ui-voteok:before {
	content:'';
	position:absolute;
	width:14px;
	height:14px;
	right:10px;
	top:6px;
	-webkit-background-size:cover;
	background-size:cover;
}
.ui-vote-form input[type="submit"] {
	margin-top:5px;
}
.ui-vote-bar {
	width:100%;
	position:relative;
	min-height:20px;
	padding-top:10px;
}
.ui-vote-bar .ui-vote-number {
	position:absolute;
	right:0;
	top:8px;
	font-size:12px;
	color:#333;
}
.ui-vote-total {
	width:80%;
	max-width:90%;
	height:10px;
	background-color:#fff;
	position:relative;
	border-radius:10px;
}
.ui-vote-total .ui-vote-occ {
	border-radius:10px;
	height:10px;
	background:-webkit-gradient(linear, center top, center bottom, from(#1d9cfe), to(#137acb));
}
.ui-vote-item-title {
	font-size:16px;
	font-weight:normal;
	margin-top:10px;
}
.ui-ios-savescreen {
	width:190px;
	height:76px;
	background-color:rgba(0, 0, 0, 0.8);
	position:fixed;
	left:50%;
	margin-left:-100px;
	top:20px;
	color:#fff;
	font-size:12px;
	border-radius:5px;
	z-index:101;
}
.ui-ios-savescreen:before {
	position:absolute;
	background-color:transparent;
	bottom:-20px;
	left:10px;
	z-index:100;
	width:0;
	height:0;
	content:'';
	border:10px solid transparent;
	border-top-color:rgba(0, 0, 0, 0.8);
	left:50%;
	margin-left:-5px;
}
.ui-ios-savescreen>p {
	margin-left:78px;
	line-height:1.7;
	margin-top:16px;
}
.ui-ios-savescreen>.ios-icon {
	width:57px;
	height:57px;
	position:absolute;
	left:10px;
	top:10px;
	background-image-webkit-background-size:cover;
	background-size:cover;
}
.ui-ios-savescreen>div:last-child {
	width:10px;
	height:10px;
	position:absolute;
	right:6px;
	top:10px;
	-webkit-transform:rotate(45deg);
}
.ui-ios-savescreen>div:last-child:before, .ui-ios-savescreen>div:last-child:after {
	position:absolute;
	width:2px;
	height:12px;
	content:'';
	left:0;
	top:0;
	background-color:#fff;
}
.ui-ios-savescreen>div:last-child:before {
	left:0px;
}
.ui-ios-savescreen>div:last-child:after {
	top:0px;
	-webkit-transform:rotate(90deg);
}
.ui-model-right .ui-pic {
	float:right;
	margin-left:10px;
}
.ui-model-left .ui-video-thumb {
	float:left;
	margin-left:0;
	margin-right:10px;
}
.ui-swipetopbar {
	height:40px;
	background-color:rgba(0, 0, 0, 0.5);
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}
.ui-activity-signup .ui-signup-container.grayscale, .grayscale {
	-webkit-filter:grayscale(100%);
}
body {
	background:#f9f9f9;
}
input, button, select, textarea {
	outline:none;
}
.ui-header-bar, .ui-bottom-bar {
	border-bottom:none;
	-webkit-box-shadow:none;
}
.ui-header-bar {
	height:44px;
	background:#0a78cd;
}
.ui-bottom-bar {
	height:35px;
	background:#197fcf;
}
.ui-logo {
	left:10px;
	background:url(./home.png) 0 0 no-repeat;
	width:100px;
	height:24px;
	background-size:cover;
	-webkit-background-size:cover;
	top:9px;
}
.ui-menu-trigger, .ui-gohomepage, .ui-goback {
	width:20px;
	height:14px;
	top:15px;
}
.ui-menu-trigger {
	right:10px;
	left:auto;
}
.ui-cateandsearch {
	background:#646464;
	z-index:110;
}
.ui-cateandsearch .bd {
	padding:10px;
}
.ui-cateandsearch h2 {
	background:#eee;
	padding-left:10px;
}
.ui-categorys {
	z-index:10;
	background-color:rgba(0, 0, 0, 0.6);
	position:absolute;
	right:0;
	width:70%;
}
.ui-categorys:before {
	background:none;
	border:none;
}
.ui-categorys ul:after {
	height:0;
}
.ui-section-block .ui-catgory1 {
	background:#eee;
	border-bottom:1px solid #ddd;
}
.ui-catgory1 .ui-category-title {
	color:#333;
	font-size:16px;
	font-weight:500;
}
.ui-catgory1 a {
	float:left;
	width:20%;
	text-align:center;
	font-weight:bold;
}
.ui-categorys .search-box {
	background:#f6f6f6;
	z-index:111;
}
.ui-categorys .search-box .txt {
	width:58%;
	font-weight:normal;
	color:#999;
	padding:0 5px;
}
.ui-categorys ul {
	background:#fff;
	width:100%;
}
.ui-categorys a {
	color:#333;
	padding-left:0;
}
.ui-categorys li {
	width:100%;
	border-bottom:1px dashed #d5d5d5;
	line-height:36px;
	text-align:center;
}
.ui-categorys li:after {
	-webkit-box-shadow:none;
	box-shadow:none;
}
.ui-categorys li a {
	font-size:18px;
}
.ui-mod-picsummary {
	padding:0px 0px;
	margin:0 10px;
}
.ui-mod-picsummary2 {
	padding:10px 10px;
}
.ui-mod-picsummary h6, .ui-border-bottom-gray h6 {
	font-weight:normal;
}
.ui-border-bottom-gray {
	border-bottom:1px solid #ddd;
}
.ui-mod-picsummary .ui-pic, .ui-mod-picsummary2 .ui-pic {
	width:80px;
	margin-right:10px;
}
.ui-cate-list {
	border:none;
	margin:0 10px;
}
.ui-mod-lists li {
	line-height:36px;
}
.ui-mod-lists li a {
	border-top:none;
	border-bottom:1px dashed #ddd;
	font-size:16px;
	padding:0;
}
.ui-mod-lists li:last-child {
	border:none;
}
.ui-more {
	background:#fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	border-color:#ddd;
	font-size:15px;
	height:30px;
	line-height:30px;
	width:auto;
	margin:10px 0;
	left:0;
}
.category-gallery {
	width:100%;
	display:block;
	height:160px;
	overflow:hidden;
	position:relative;
}
.category-gallery li {
	height:160px;
	display:block;
	position:relative;
}
.category-gallery p {
	line-height:30px;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	filter:alpha(opacity=60);
	opacity:0.6;
	background:#000;
	color:#fff;
	padding-left:10px;
	font-size:14px;
}
.category-gallery p span {
	overflow:hidden;
	display:block;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-weight:bold;
}
.category-gallery .swipeslide-bullets {
	position:absolute;
	right:10px;
	bottom:0;
	color:#fff;
	line-height:30px;
	font-size:14px;
}
.category-gallery var {
	font-style:normal;
}
.ui-mod-picsummary .ui-title, .ui-mod-picsummary2 .ui-title {
	padding:5px 0;
	font-size:16px;
	line-height:20px;
	color:#444;
}
.ui-mod-picsummary .ui-summary, .ui-mod-picsummary2 .ui-summary {
	color:#666;
	line-height:18px;
	font-size:14px;
	position:relative;
}
.ui-mod-picsummary .ui-comment-count, .ui-mod-picsummary2 .ui-comment-count {
	font-size:9px;
	position:absolute;
	right:10px;
	top:18px;
	z-index:5;
	line-height:18px;
}
.ui-picture-list li {
	float:left;
	width:50%;
	text-align:center;
}
.ui-picture-list li img {
	width:140px;
}
.ui-picture-list h3 {
	font-size:14px;
	line-height:30px;
	font-weight:300;
	padding-bottom:10px;
}
.pos-r {
	position:relative;
	overflow:hidden;
}
.swipeslide-bullets2 {
	position:absolute;
	right:10px;
	top:10px;
	z-index:5;
}
.swipeslide-bullets2 li {
	width:8px;
	height:8px;
	overflow:hidden;
	display:inline-block;
	background:#fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	cursor:pointer;
	text-indent:-9999px;
	margin:0 5px;
}
.swipeslide-bullets2 .active {
	background:#333;
}
.category-gallery2 {
	margin:10px;
	background:#fff;
}
.category-gallery2 dd {
	float:left;
	width:33%;
	text-align:center;
	margin:0;
	font-size:6px;
}
.category-gallery2 dd img {
	width:70px;
}
.category-gallery2 dd p {
	line-height:20px;
	margin-bottom:5px;
}
.category-gallery3 .ui-summary {
	font-size:9px;
	min-height:18px;
	height:18px;
}
.category-gallery3 .summary {
	font-size:14px;
	line-height:21px;
	margin-top:10px;
}
.ui-bottom-bar a {
	margin-left:0;
	margin-right:0
}
.ui-bottom-bar > p {
	text-align:center;
}
.download img {
	width:320px;
}
.ui-top-down {
	width:30px;
	position:absolute;
	top:-100px;
	right:10px;
	z-index:100;
}
.ui-gotop, .ui-godown {
	display:none;
	width:30px;
	height:30px;
	background-size:cover;
	position:inherit;
	top:0;
	right:0;
	-webkit-background-size:cover;
	overflow:hidden;
}
.ui-gotop {
	display:none;
}
.ui-godown {
	margin-top:1px;
	top:30px;
}
.ui-gohomepage {
	width:22px;
	height:20px;
	top:12px;
	background-image: url(./home.png);
}
.ui-gocatalogpage {
	width:22px;
	height:20px;
	top:12px;
	background-image: url(./menu.png);
}
.ui-pagetitle {
	line-height:44px;
	font-size:18px;
	font-weight:normal;
}
.ui-article-container {
	padding:0 5px;
}
.ui-article-infos .source {
	margin-left:10px;
}
.ui-article-infos var {
	width:20px;
	height:13px;
	float:right;
	overflow:hidden;
	background-position:0 0;
	background-repeat:no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
}
.ui-article-detail {
	padding:0 10px 0;
}
.mar-t-20 {
	margin-top:20px;
}
.ul-addon-atlas .ui-video-link {
	background:#b32121;
	text-align:center;
	width:50px;
	height:18px;
	line-height:18px;
	color:#fff;
	font-size:16px;
	left:0;
	margin:0;
	bottom:10px;
	top:auto;
}
.ui-article-detail p {
	line-height:24px;
}
.ui-article-detail .mar-t-10 {
	text-indent:0;
	padding-bottom:10px;
	line-height:20px;
	text-align:center;
}
.peak-share {
	width:100%;
	overflow:hidden;
}
.peak-share a {
	border:1px solid #ccc;
	overflow:hidden;
	background:#fff;
	line-height:28px;
	color:#666;
	font-size:16px;
	padding:0 13px;
}
.f-l {
	float:left;
}
.f-r {
	float:right;
}
.peak-share em {
	width:17px;
	height:16px;
	overflow:hidden;
	background-size:cover;
	-webkit-background-size:cover;
	float:left;
	margin:6px 8px 0 0;
	display:inline;
}
.on-content {
	border:1px solid #ddd;
	margin:10px 0;
}
.on-content .title {
	font-size:16px;
	color:#333;
	background:#eee;
	line-height:30px;
	padding-left:8px;
}
.on-content .ui-cate-list {
	margin:0;
}
.on-content li {
	background:#fff;
}
.on-content li a {
	padding:0 5px;
}
li.bd-n:last-child a {
	border:none;
}
.AdPositionId {
	line-height:16px;
	font-size:16px;
	overflow:hidden;
}
.AdPositionId img {
	width:100%;
}
.AdPositionId em {
	width:18px;
	height:13px;
	overflow:hidden;
	float:left;
	background-size:cover;
	-webkit-background-size:cover;
	margin:3px 10px 0 0;
	display:inline;
}
.comment {
	margin:10px 0;
}
.comment .img {
	width:300px;
}
.on-content .ui-picture-list {
	margin:0;
	background:#fff;
}
.on-content .ui-picture-list {
	padding:0 0 10px;
}
.on-content .ui-picture-list li {
	padding:10px 0 0;
}
.on-content .ui-picture-list div, .photos-content .ui-picture-list div {
	width:140px;
	margin:0 auto;
	background:#ddd;
}
.on-content .ui-picture-list a {
	padding:0;
}
.on-content .ui-picture-list h3, .photos-content .ui-picture-list h3 {
	font-size:14px;
	height:28px;
	line-height:26px;
	padding:0 5px;
	margin:0;
	text-align:center;
}
.channel-page .ui-more, .photos-page .ui-more {
	margin-bottom:0;
}
a img {
	border:none;
}
.photos-page {
	margin:10px auto 0;
	width:300px;
}
.photos-page li {
	position:relative;
	overflow:hidden;
	margin-top:10px;
}
.photos-page li a {
	display:block;
	width:100%;
	height:200px;
}
.photos-page li p {
	height:30px;
	line-height:28px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:5;
	width:100%;
	background-color:rgba(0, 0, 0, 0.5);
	overflow:hidden;
	padding:0 10px;
	font-size:12px;
	color:#fff;
}
.photos-page li img {
	width:300px;
}
.photos-content {
	background:#000;
}
.photos-content .ui-header-bar {
	background:#333;
}
.ui-return {
	position:absolute;
	left:10px;
	width:10px;
	height:17px;
	top:14px;
	background-size:cover;
	-webkit-background-size:cover;
}
.list1 .ui-pagetitle {
	font-size:14px;
}
.list1 .ui-pagetitle var {
	font-style:normal;
}
.list1 .ui-pagetitle img {
	width:16px;
	vertical-align:middle;
	margin-right:10px;
	margin-top:-2px;
}
.list1 .ui-menu-trigger {
	width:16px;
	top:15px;
	height:15px;
	background-size:cover;
	-webkit-background-size:cover;
}
.bg-0 {
	background-color:#000
}
.photos-content .ui-cateandsearch {
	background:none;
	width:30px;
	position:absolute;
	right:10px;
	top:44px;
	z-index:10;
}
.ui-categorys2 a {
	width:30px;
	height:38px;
	display:block;
	background-repeat:no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	text-indent:-9999px;
	float:left;
}
.ui-categorys2 .peak {
	background-position:center -32px;
}
.ui-categorys2 .comment {
	background-position:center -66px;
	margin:0;
}
.ui-categorys2 .share {
	background-position:center -102px;
}
.details {
	text-align:right;
	margin-bottom:10px;
}
.details img {
	width:24px;
}
.ui-picture-show .ui-picture-extra-info {
	background-color:rgba(0, 0, 0, 0.6);
	padding:10px;
}
.ui-picture-show .ui-picture-extra-info .ui-single-summary {
	text-indent:1em;
	line-height:18px;
	font-size:14px;
	color:#fff;
	width:100%;
	height:54px;
	overflow:hidden;
}
.list1 .ui-pagetitle2 img {
	width:25px;
}
.details-down {
	text-align:center;
	margin-bottom:10px;
}
.details-down img {
	width:17px;
}
.ui-picture-show .ui-picture-extra-info .ui-single-summary2 {
	height:auto;
}
.photos-content .ui-picture-list li {
	margin-top:10px;
}
.look_over {
	font-size:15px;
	color:#4c4c4c;
	line-height:30px;
	text-align:center;
	margin-top:30px;
}
.search-page {
	background:#f9f9f9;
}
.search-box {
	background:#fff;
	padding:10px;
}
.search-cont {
	height:30px;
	line-height:30px;
	border:1px solid #ddd;
	border-radius:2px;
	-webkit-border-radius:2px;
	padding:0 0 10 0px;
}
.search-box .txt {
	border:none;
	font-size:14px;
	font-weight:bold;
	color:#444;
	float:left;
	line-height:30px;
	width:88%;
	background:none;
	padding:0 5px;
}
.search-box .search-btn {
	margin-right:5px;
	width:19px;
	height:19px;
	float:right;
	background-size:cover;
	-webkit-background-size:cover;
	border:none;
	margin-top:6px;
}
.search-container .search-list {
	margin:10px;
	border:1px solid #ddd;
	border-radius:1px;
	-webkit-border-radius:1px;
	background:#fff;
}
.search-container .search-list li {
	line-height:20px;
	border-bottom:1px dashed #ddd;
	padding:10px;
}
.search-container .search-list a {
	font-size:14px;
	color:#666;
}
.search-container .search-list a span {
	color:#f00;
}
.search-container .search-list li:last-child {
	border:none;
}
.video-page .ui-mod-picsummary {
	position:relative;
}
.video-page time {
	position:absolute;
	left:0;
	width:75px;
	padding-left:5px;
	height:12px;
	line-height:12px;
	overflow:hidden;
	color:#fff;
	bottom:10px;
	font-size:9px;
	background-color:rgba(0, 0, 0, 0.5);
}
.download {
	background:none repeat scroll 0 0 #EEEEEE;
	text-align:center;
}
.ui-swipeslide, .ui-swipeslide-reel, .ui-swipeslide-slide, .ui-swipeslide-slide img {
}
.ui-swipeslide {
	position:relative;
	overflow:hidden;
	-webkit-tap-highlight-color:transparent;
	-webkit-user-select:none;
}
.ui-swipeslide-reel {
	-webkit-transform:translate3d(0, 0, 0);
	overflow:hidden;
	display:-webkit-box;
	display:-moz-box;
	display:box;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
}
.ui-swipeslide-vertical .ui-swipeslide-reel {
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	box-orient:vertical;
}
.ui-swipeslide-slide {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.ui-swipeslide-3d {
	-webkit-perspective:1000;
	position:relative;
	overflow:visible;
}
.ui-swipeslide-3d .ui-swipeslide-reel {
	-webkit-transform-style:preserve-3d;
	position:relative;
	display:block;
	width:100%;
	height:100%;
	overflow:visible;
}
.ui-swipeslide-3d .ui-swipeslide-slide {
	position:absolute;
}
.ui-swipeslide-bullets {
	text-align:center;
}
.ui-swipeslide-bullets li {
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:5px;
	margin:5px;
	background-color:#999;
	text-indent:-1000px;
	overflow:hidden;
	cursor:pointer;
}
.ui-swipeslide-bullets li.active {
}
.ui-swipeslide-nav, .ui-swipeslide-nav li {
	list-style:none;
	margin:0;
	padding:0;
}
.ui-swipeslide-nav li {
	position:absolute;
	top:0;
	height:100%;
	width:15%;
	z-index:20;
	background:rgba(0, 0, 0, 0.2) center center no-repeat;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
}
.ui-swipeslide-nav li:hover {
	background-color:rgba(0, 0, 0, 0.5);
}
.ui-swipeslide-nav li.prev {
	left:0;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAeCAYAAADOziUSAAAAvElEQVR42q3WIQ7CYBCEUVQNwdSAQSG4So+A5Sok2BqC5QJcgwRVUUOo4AgkeEiWGbECmoruzibfqD9PNp2YmSxOpBKdUIP2qIhiS3S339tFMEIP69/VsSzEOzqWhVo0cywD3dDc38ogJoOYDGIyiMkgJoOYDHKsQN0A9EKLsV+NDfoMgIcxmAzkyECODOTIQI4M5MhAjgzkZMG6hyXBrWMK8OJYBHz/Yecoxir0RLwOrTIYm6K1/xo4JusLObFSWPLLngMAAAAASUVORK5CYII=);
}
.ui-swipeslide-nav li.next {
	right:0;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAeCAYAAADOziUSAAAAu0lEQVR42q3WMQrCUBCE4RRpRNLYWNgKOVCu4BFsBat4CkuvIOQENpLCCwhiYesFXGcgRWBJkd158A+85mvfK8xMFoeV6IDu6ILWGWyPxueJtlGsM3/eBCPYCVkM9NgC3bLg+LJCfQbkyECODOTIQI4M5MhAjgzkaMABmwN+JsAXWs7B2gnoh3aokEFMBjEZxGQQk0FMBjER5LFjDPJYE4c8do1DHjvHIY9t0GOAvqjJvOisRDWqMn8NWX8f3VJqdiTqcAAAAABJRU5ErkJggg==);
}
.ui-swipeslide-3d .ui-swipeslide-nav li {
	-webkit-transform:translateZ(50px);
}
.ui-swipeslide-vertical .ui-swipeslide-nav li {
	height:auto;
	width:100%;
	text-align:center;
}
.ui-swipeslide-vertical .ui-swipeslide-nav li.prev {
	top:0;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAATCAYAAACHrr18AAAAqklEQVR42sXRIQoCURSF4QlTRKZYDFMHXNBswSVYBZOuYuJsQXAFFpngBgQxWN2A1wOWy0vyn+CFP933+MKtIoI2VxWNfuzUXa0pTNFHfOdNcQcNB8eoi0PUxyHq4w76dHCKTmqh9hTHaHqLcBPlOEZdHKIcL+Gluv2Mcrwv4RGgBH+pJsMXgFJ8leFtsTwn1Gmn8lxVneFabdRJHdTMBHO9OqpBtfnGf+kD4JBSaseSdAwAAAAASUVORK5CYII=);
}
.ui-swipeslide-vertical .ui-swipeslide-nav li.next {
	bottom:0;
	top:auto;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAATCAYAAACHrr18AAAAuklEQVR42sXSMQrCQBSEYQsbERsbC1vBA+UKOYJtIJWewtIrCJ7ARixygUCwsM0F8pxuNihbzAQc+ItXLF+zs4j4S+mxRWd0RcWEyAKd0A0d0JwwDtTEePUE6BrdY7wqhffxe0cTfcb3Him8Qn0G91HuQhihAg1Z3EdbtCHMyhxuoi+0S3+1gDsoYQF3UMISrqOEZVxDCTv4W0AJq7iGEhZwAdVh4h5KWMJ1lLCMayhhB++ICrDRUn37ARk5UmoS0ZZKAAAAAElFTkSuQmCC);
}
.navigations {
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}
.pagination span, .pagination a {
	width:30px;
	text-align:center;
	height:30px;
	line-height:30px;
	margin:0 2px 0 2px;
	display:inline-block;
	text-decoration:none;
	border:1px #CCC solid;
	font-size:14px;
	font-weight:normal;
}
.pagination .current {
	width:30px;
	text-align:center;
	height:30px;
	line-height:30px;
	margin:0 2px 0 2px;
	display:inline-block;
	text-decoration:none;
	border:1px #CCC solid;
	background: #197fcf;
	color:#FFF;
	font-weight:normal;
}
.pagination a:hover {
	height:30px;
	width:30px;
	color:#fff;
	border:1px solid #888;
	text-decoration:none;
	background: #197fcf;
}
.pagination .page_previous, .pagination .page_previous:hover {
	width:70px;
	height:30px;
	text-align:center
}
.pagination .page_next, .pagination .page_next:hover {
	width:70px;
	height:30px;
	text-align:center
}
.pagination .fir_las, .pagination .fir_las:hover {
	width:36px;
	height:30px;
	text-align:center
}
.under {
	clear:both;
	margin:0px 0px 10px 0px;
	font-size:16px;
	color:#333;
	text-indent:2em;
	text-align:justify;
	margin-top:15px;
}
.under a {
	color: #4E0A13;
	text-decoration: underline;
}
.under a:hover {
	color: #F00;
	text-decoration: underline;
}
#postnavi {
	overflow:hidden;
	background-color:#000;
	padding:10px 0px;
}
#postnavi a {
	font-size:16px;
	color:#fff;
	display: inline-table;
	width:100%;
	height:100%;
}
.top_t {
	height:30px;
	line-height:30px;
}
.top_t p {
	background-color:#779cc1;
	margin-left:10px;
	text-align:center;
	width:100px;
}
#intro {
	height:110px;
	width:100%;
	background-color:#DEF;
}
#intro1 {
	height:190px;
	width:100%;
	background-color:#DEF;
}
.nr_set {
	padding: 10px;
	padding-right: 10px;
	border-bottom: 2px solid #0065B5;
	font-size: 12px;
	height:30px;
	background-color: #fff;
}
.nr_set .set1 {
	float:right;
	border:1px solid #0065B5;
	padding:5px 10px;
	margin-left:10px;
	border-radius:5px;
	color:#0065B5
}
.nr_set .set2 div {
	border:1px solid #0065B5;
	float:left;
	padding:5px 7px;
	margin-left:5px;
	border-radius:3px;
	color:#0065B5
}
.nr_set .set2 p {
	border:1px solid #0065B5;
	float:left;
	padding:5px 5px;
	margin-left:5px;
	border-radius:3px;
	color:#0065B5
}